<div class="grid">
    <div class="col-12">
        <h3>Gestionar docentes</h3>
        <p>Esta pantalla permite la creación, visualización, edición y eliminación manual de docentes.</p>
        <hr>
    </div>
</div>


<div class="p-fluid p-formgrid grid">
    <div class="field col-6 md:col-3">
        <label>Nombres</label>
        <input type="text" class="p-inputtext" 
        [(ngModel)]="filtroDocenteDTO.nombre" 
        placeholder="Ingrese nombres"
        (ngModelChange)="inputsChange()">
    </div>
    <div class="field col-6 md:col-3">
        <label>Código</label>
        <input type="text" class="p-inputtext" 
        [(ngModel)]="filtroDocenteDTO.codigo" 
        placeholder="Ingrese código docente"
        (ngModelChange)="inputsChange()">
    </div>
    <div class="field col-6 md:col-3">
        <label>Identificación</label>
        <input type="text" class="p-inputtext" 
        [(ngModel)]="filtroDocenteDTO.numeroIdentificacion" 
        placeholder="Ingrese número de identificación"
        (ngModelChange)="inputsChange()">
    </div>
    <div class="field col-6 md:col-3">
        <label>Estado</label>
        <p-dropdown 
            placeholder="Seleccione estado docente" 
            [options]="listaEstados" 
            [(ngModel)]="filtroDocenteDTO.estado"
            [showClear]="true"
            (ngModelChange)="onEstadoChange()">
        </p-dropdown>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="grid" *ngIf="totalRecords!==undefined">
            <div class="col-6" *ngIf="totalRecords!==undefined" style="padding: 2rem;">          
                <label class="large-label">Docentes consultados: {{totalRecords}}</label>
            </div>
            <div [class]="totalRecords!==undefined ? 'col-6': 'col-12'">
                <p-toolbar styleClass="mb-1" [style]="{'background': 'none', 'border': 'none', 'margin': '0', 'padding':'0'}">
                    <ng-template pTemplate="left">
                    </ng-template>
                    <ng-template pTemplate="right">
                        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                        <button pButton pRipple label="Subir archivo" icon="pi pi-upload" class="p-button-help" (click)="cargarArchivo()"></button>
                        <span style="margin-right: 10px;"></span>
                        <div class="my-0">
                            <button pButton pRipple label="Crear docente" icon="pi pi-plus" class="p-button-success mr-2" (click) = "crearDocente()"></button>
                        </div>
                    </ng-template>
                </p-toolbar>  
            </div>
        </div>        
        <p-table #dt [value]="listaDocenteOutDTO" responsiveLayout="scroll" [rows]="10"
            selectionMode="multiple" [rowHover]="true" dataKey="id" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th>Codigo</th>
                    <th>Identificación</th>
                    <th>Primer nombre</th>
                    <th>Segundo nombre</th>
                    <th>Primer apellido</th>
                    <th>Segundo apellido</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-docenteOutDTO>
                <tr>
                    <td>{{docenteOutDTO.codigo}}</td>
                    <td>{{docenteOutDTO.codigoTipoIdentificacion}} {{docenteOutDTO.numeroIdentificacion}}</td>
                    <td>{{docenteOutDTO.primerNombre}}</td>
                    <td>{{docenteOutDTO.segundoNombre}}</td>
                    <td>{{docenteOutDTO.primerApellido}}</td>
                    <td>{{docenteOutDTO.segundoApellido}}</td>
                    <td>{{docenteOutDTO.estado | titlecase }}</td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple type="button" icon="pi pi-search" pTooltip="Ver docente" class="p-button-rounded p-button-info" (click) = "verDocente(docenteOutDTO)"></button>
                            <span style="margin-right: 10px;"></span>
                            <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar docente" class="p-button-rounded p-button-secondary" (click) = "editarDocente(docenteOutDTO)"></button>
                            <span style="margin-right: 10px;"></span>
                            <button pButton pRipple type="button" icon="pi pi-ban" pTooltip="Inactivar/Activar docente" class="p-button-rounded p-button-danger" (click)="inactivarDocente(docenteOutDTO)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="pagina" [rows]="registrosPorPagina" [totalRecords]="totalRecords"></p-paginator>   
    </div>   
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>