<img class="marca-agua" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Logo_de_la_Universidad_del_Cauca.svg" alt="Marca de Agua">

<h1>Bienvenido a SGPH</h1>
<!--Se muestran los roles del usuario-->
<div style="text-align: center;">
    <p style="margin: 0; display: inline;">
        <strong>Roles:</strong>
        <span *ngFor="let authority of autorities; let i = index">
            {{ 'gestionar.usuario.filtro.rol.usuario.'+authority | translate  }}<span *ngIf="i < autorities.length - 1">, </span>
        </span>
    </p>
</div>

<h5>Preguntas frecuentes en la gestión de horarios</h5>
<ul>
    <li>
        <p><strong>¿Qué representa las franjas punteadas en los horarios de espacios físicos?</strong></p>
        <p>Las franjas punteadas indican franjas secundarias. Es importante mencionar que la existencia de una franja secundaria implica la existencia de una franja primaria correspondiente.</p>
        <br>
    </li>
    <li>
        <p><strong>¿Para qué sirve inactivar una asignatura y qué efecto tiene en el sistema?</strong></p>
        <p>Una asignatura no se elimina, sino que se inactiva cuando ya no estará activa en el pensum del programa.</p>
        <p>Al inactivarla, la asignatura no aparecerá en ningún filtro de búsqueda ni en los selectores de asignaturas del sistema, y no se permitirá la creación de cursos asociados a ella.</p>
        <br>
    </li>
    <li>
        <p><strong>¿Cómo puedo ver los cursos y horarios de semestres pasados?</strong></p>
        <p>Para visualizar los cursos de semestres pasados, solo es posible a através del reporte de SIMCA </p>
        <br>
    </li>
    <li>
        <p><strong>¿Puedo realizar cambio de docentes cuando el curso ya tiene un horario establecido?</strong></p>
        <p>Sí, pero cabe la posibilidad de que el nuevo docente a asignar presente cruces con el horario del curso.</p>
        <br>
    </li>
    <li>
        <p><strong>¿Por qué no puedo ver algunos espacios físicos en franjas disponibles cuando planifico manualmente?</strong></p>
        <p>Puede deberse a varias razones:</p>
        <ul>
            <li>El espacio físico se encuentra en estado INACTIVO</li>
            <li>El espacio físico tiene una capacidad inferior al cupo del curso</li>
            <li>El grupo configurado para el curso puede no incluir el espacio físico</li>
            <li>No existen franjas porque todas presentan cruces </li>
            <li>Mala gestión de los filtros de búsqueda</li>
        </ul>
    </li>
</ul>

<h5>Preguntas frecuentes en la gestión de reservas</h5>

