<div class="flex flex-column">
  <h2>Información Persona</h2>
  <!-- Modo Visualización -->
  <div class="grid" *ngIf="lectura && persona">
    <div class="p-fluid col-12 flex">
      <label class="col-12 md:col-3">Tipo de Identificación</label>
      <p class="col-12 md:col-9">{{ persona?.codigoTipoIdentificacion || '-' }}</p>
    </div>
    <div class="p-fluid col-12 flex">
      <label class="col-12 md:col-3">Número de Identificación</label>
      <p class="col-12 md:col-9">{{ persona.numeroIdentificacion }}</p>
    </div>
    <div class="p-fluid col-12 flex">
      <label class="col-12 md:col-3">Primer Nombre</label>
      <p class="col-12 md:col-9">{{ persona.primerNombre }}</p>
    </div>
    <div class="p-fluid col-12 flex">
      <label class="col-12 md:col-3">Segundo Nombre</label>
      <p class="col-12 md:col-9">{{ persona.segundoNombre || '-' }}</p>
    </div>
    <div class="p-fluid col-12 flex">
      <label class="col-12 md:col-3">Primer Apellido</label>
      <p class="col-12 md:col-9">{{ persona.primerApellido }}</p>
    </div>
    <div class="p-fluid col-12 flex">
      <label class="col-12 md:col-3">Segundo Apellido</label>
      <p class="col-12 md:col-9">{{ persona.segundoApellido || '-' }}</p>
    </div>
    <div class="p-fluid col-12 flex">
      <label class="col-12 md:col-3">Correo Electrónico</label>
      <p class="col-12 md:col-9">{{ persona.email }}</p>
    </div>
  </div>

 <!-- Modo Creación y Edición -->
 <form *ngIf="!lectura" class="grid" [formGroup]="formulario">
  <div class="p-fluid col sm:col-12 md:col-6">
    <label class="required">Tipo de Identificación</label>
    <p-dropdown
      [options]="listaTiposIdentificacion"
      optionLabel="descripcion"
      optionValue="idTipoIdentificacion"
      formControlName="tipoIdentificacion"
      placeholder="Seleccione"
      [ngClass]="{
        'ng-invalid ng-dirty': formulario.get('tipoIdentificacion').invalid && formulario.get('tipoIdentificacion').touched
      }"
    ></p-dropdown>
    <small
      class="p-error block fade-in"
      *ngIf="formulario.get('tipoIdentificacion').invalid && formulario.get('tipoIdentificacion').touched"
    >
      Tipo de Identificación es obligatorio
    </small>
  </div>
  <div class="p-fluid col sm:col-12 md:col-6">
    <label class="required">Número de Identificación</label>
    <input
      type="text"
      pInputText
      formControlName="numeroIdentificacion"
      placeholder="Ingrese número"
      [ngClass]="{
        'ng-invalid ng-dirty': formulario.get('numeroIdentificacion').invalid && formulario.get('numeroIdentificacion').touched
      }"
    />
    <small
      class="p-error block fade-in"
      *ngIf="formulario.get('numeroIdentificacion').hasError('required') && formulario.get('numeroIdentificacion').touched"
    >
      El número de identificación es obligatorio
    </small>
    <small
      class="p-error block fade-in"
      *ngIf="formulario.get('numeroIdentificacion').hasError('minlength') && formulario.get('numeroIdentificacion').touched"
    >
      El número de identificación debe tener al menos 5 caracteres
    </small>
    <small
      class="p-error block fade-in"
      *ngIf="formulario.get('numeroIdentificacion').hasError('maxlength') && formulario.get('numeroIdentificacion').touched"
    >
      El número de identificación no puede exceder los 15 caracteres
    </small>
  </div>
  <div class="p-fluid col sm:col-12 md:col-6">
    <label class="required">Primer Nombre</label>
    <input
      type="text"
      pInputText
      formControlName="primerNombre"
      placeholder="Ingrese el primer nombre"
      [ngClass]="{
        'ng-invalid ng-dirty': formulario.get('primerNombre').invalid && formulario.get('primerNombre').touched
      }"
    />
    <small
      class="p-error block fade-in"
      *ngIf="formulario.get('primerNombre').invalid && formulario.get('primerNombre').touched"
    >
      El primer nombre es obligatorio
    </small>
  </div>
  
  <div class="p-fluid col sm:col-12 md:col-6">
    <label>Segundo Nombre</label>
    <input
      type="text"
      pInputText
      formControlName="segundoNombre"
      placeholder="Ingrese el segundo nombre"
    />
  </div>
  
  <div class="p-fluid col sm:col-12 md:col-6">
    <label class="required">Primer Apellido</label>
    <input
      type="text"
      pInputText
      formControlName="primerApellido"
      placeholder="Ingrese el primer apellido"
      [ngClass]="{
        'ng-invalid ng-dirty': formulario.get('primerApellido').invalid && formulario.get('primerApellido').touched
      }"
    />
    <small
      class="p-error block fade-in"
      *ngIf="formulario.get('primerApellido').invalid && formulario.get('primerApellido').touched"
    >
      El primer apellido es obligatorio
    </small>
  </div>
  
  <div class="p-fluid col sm:col-12 md:col-6">
    <label>Segundo Apellido</label>
    <input
      type="text"
      pInputText
      formControlName="segundoApellido"
      placeholder="Ingrese el segundo apellido"
    />
  </div>
  
  <div class="p-fluid col sm:col-12 md:col-6">
    <label class="required">Correo Electrónico</label>
    <input
      type="email"
      pInputText
      formControlName="email"
      placeholder="Ingrese correo"
      [ngClass]="{
        'ng-invalid ng-dirty': formulario.get('email').invalid && formulario.get('email').touched
      }"
    />
    <small
      class="p-error block fade-in"
      *ngIf="formulario.get('email').hasError('required') && formulario.get('email').touched"
    >
      El correo electrónico es obligatorio
    </small>
    <small
      class="p-error block fade-in"
      *ngIf="formulario.get('email').hasError('email') && formulario.get('email').touched"
    >
      El correo electrónico no es válido
    </small>
  </div>  
</form>
  <div class="flex justify-content-end" style="width: 100%;">
    <div class="m-1">
      <button
        pButton
        pRipple
        label="Salir"
        icon="pi pi-times"
        class="p-button-text"
        (click)="salir()"
      ></button>
      <button
        *ngIf="!lectura"
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-plus"
        class="p-button-text ml-2"
        (click)="guardarPersona()"
      ></button>
    </div>
  </div>
</div>
