<div class="flex flex-column">
    <form class="grid" [formGroup]="formulario">
        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Facultad</label>
            <p-dropdown [placeholder]="' '" [ngClass]="{
                            'ng-invalid ng-dirty':
                                this.idFacultad().invalid &&
                                this.idFacultad().touched
                        }" [options]="lstFacultadOutDTO" 
                        optionValue="idFacultad" 
                        optionLabel="abreviatura" 
                        (ngModelChange)="onFacultadChange()"
                formControlName="idFacultad" [showClear]="true" appendTo="body">
                <ng-template let-facultad pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div><strong>{{ facultad.abreviatura }}</strong>-{{ facultad.nombre }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small class="p-error block fade-in" *ngIf="this.idFacultad().invalid &&
                                (this.idFacultad().touched)">
                Facultad es obligatorio
            </small>
        </div>

        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Nombre</label>
            <input type="text" pInputText [ngClass]="{
                        'ng-invalid ng-dirty':
                            this.nombre().invalid &&
                            this.nombre().touched
                    }" formControlName="nombre" placeholder=" "
                    >
            <small class="p-error block fade-in" *ngIf="this.nombre().invalid &&
                    (this.nombre().touched)">
                <div *ngIf="this.formulario.get('nombre').errors.required">Nombre es obligatorio</div>            
                <div *ngIf="this.formulario.get('nombre').errors?.ExisteNombreAgrupador">{{ this.formulario.get('nombre').errors?.ExisteNombreAgrupador }}</div>  
            </small>

        </div>

        <div class="p-fluid col sm:col-12 md:col-12">
            <label class="required">Descripción</label>
            <textarea 
                rows="5"
                cols="30" 
                pInputTextarea
                
                [ngClass]="{
                    'ng-invalid ng-dirty':
                        this.observacion().invalid &&
                        this.observacion().touched}"
                        formControlName="observacion"
                        style="resize: none;">
            </textarea>
            <small class="p-error block fade-in" *ngIf="this.observacion().invalid &&
                    (this.observacion().touched)">
                Descripción es obligatorio
            </small>

        </div>
    </form>
    <div class="flex justify-content-end mt-2" style="width: 100%;">
        <div class="m-1">
            <button pButton pRipple label="Salir" icon="pi pi-times" class="p-button-text"
            (click)="salir()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-plus" class="p-button-text ml-2"
                (click)="guardarGrupo()"></button>
        </div>
    </div>
</div>