h1 {
  color: black; /* Ajusta el color del texto según tu fondo */
  text-align: center;
  font-size: 2em; /* Ajusta según sea necesario */
}

.marca-agua {
    position: fixed; /* Fija la imagen en la pantalla */
    object-fit: cover;
    object-position: center bottom; /* Ajusta la posición de la imagen */
    opacity: 0.02; 
    z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}

