<div class="grid">
    <div class="col-12">
        <h3>Ver horario espacios físicos</h3>
        <p>Esta pantalla permite visualizar los horarios de los espacios físicos.</p>
        <hr>
    </div>
</div>

<div class="p-fluid p-formgrid grid">
    <div class="field col-6 md:col-3">
        <label>Ubicación</label>
        <p-multiSelect 
            maxSelectedLabels="4" 
            selectedItemsLabel="{0} Ubicaciones seleccionadas" 
            optionLabel="nombre" 
            [defaultLabel]="'Seleccione ubicación'"
            [options]="lstUbicacionOutDTO" 
            [(ngModel)]="filtroEspacioFisicoDTO.listaIdUbicacion"  
            [filter]="false"
            [showClear]="true"
            optionLabel="nombre" 
            optionValue="idUbicacion"
            (ngModelChange)="onUbicacionesChange()" >
        </p-multiSelect>
    </div>
    <div class="field col-6 md:col-3">
        <label>Tipo</label>
        <p-multiSelect 
            maxSelectedLabels="4" 
            selectedItemsLabel="{0} Tipos seleccionados" 
            optionLabel="tipo" 
            [placeholder]="filtroEspacioFisicoDTO?.listaIdUbicacion?.length === 0 ? ' ':'Seleccione tipo espacio físico'" 
            [options]="lstTipoEspacioFisicoOutDTO" 
            [(ngModel)]="filtroEspacioFisicoDTO.listaIdTipoEspacioFisico"  
            [disabled]="filtroEspacioFisicoDTO?.listaIdUbicacion.length === 0"
            [filter]="false"
            [showClear]="true"
            optionLabel="tipo" 
            optionValue="idTipoEspacioFisico"
            emptyMessage="No hay tipos para las ubicaciones seleccionadas"
            (ngModelChange)="onTipoEspacioFisicoChange()" >
        </p-multiSelect>
    </div>
    <div class="field col-6 md:col-3">
        <label>Estado</label>
        <p-dropdown 
            [placeholder]="'Seleccione estado espacio físico'" 
            [options]="listaEstados" 
            [(ngModel)]="filtroEspacioFisicoDTO.estado"
            [showClear]="true"
            [disabled]="false"
            (ngModelChange)="onEstadoChange()">
        </p-dropdown>
    </div>
    <div class="field col-6 md:col-3">
        <label>Nombre</label>
        <input [disabled]="false"
               type="text" class="p-inputtext" 
               [(ngModel)]="filtroEspacioFisicoDTO.salon" 
               [placeholder]="'Ingrese nombre'"
               (ngModelChange)="inputsChange()">
    </div>
</div>

<div *ngIf="this.messages !== null">
    <p-messages [(value)]="messages" [enableService]="true" [closable]="false" />
</div>
<br>

<div class="grid">
    <div class="col-12"> 
        <div class="grid" *ngIf="totalRecords!==undefined">
            <div class="col-6" *ngIf="totalRecords!==undefined" style="padding: 2rem;">          
                <label class="large-label">Espacios físicos consultados: {{totalRecords}}</label>
            </div>
        </div>       
        <p-table #dt [value]="listaEspacioFisicoDTO" responsiveLayout="scroll" [rows]="10"
            selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>Ubicación</th>
                    <th>Edificio</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-espacioFisicoDTO>
                <tr>
                    <td>{{espacioFisicoDTO.nombreUbicacion}}</td>
                    <td>{{espacioFisicoDTO?.nombreEdificio}}</td>
                    <td>{{espacioFisicoDTO.tipoEspacioFisico}}</td>
                    <td>{{espacioFisicoDTO.salon}}</td>
                    <td>{{espacioFisicoDTO.capacidad}}</td>
                    <td>{{espacioFisicoDTO.estado | titlecase}}</td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple type="button" icon="pi pi-calendar" class="p-button-rounded p-button-info p-button-outlined" pTooltip="Ver horario" tooltipPosition="top" (click)="abrirModalHorarioAula(espacioFisicoDTO)" [disabled]="this.messages !== null"></button>  
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="pagina" [rows]="registrosPorPagina" [totalRecords]="totalRecords"></p-paginator>   
    </div>   
</div>
<app-horario-espacio-fisico #horarioEspacioFisico></app-horario-espacio-fisico>