<p-dialog #modalDialog [(visible)]="mostrarModalCRUD" [style]="{width: '1024px'}" [header]="tituloModal" [modal]="true"
    class="p-fluid">
    <div class="flex flex-column">
        <form class="grid" *ngIf="esEditar || esCrear"  style="margin-left: 3%;">
            <!--Información personal-->
            <div class="p-fluid col sm:col-12 md:col-12">
                <h5>Información personal</h5>
            </div>     
                
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="required">Tipo identificación</label>
                <p-dropdown 
                    [options]="listaTiposIdentificacion" 
                    [(ngModel)]="usuarioInDTO.idTipoIdentificacion"
                    optionLabel="tipoIdentificacion" 
                    optionValue="idTipoIdentificacion"
                    name="tipoIdentificacion"
                    placeholder="Seleccione tipo de identificación"
                    (ngModelChange)="onTipoIdentificacionChange()">
                </p-dropdown>
                <div class="p-error block" *ngIf="this.formulario.get('idTipoIdentificacion').invalid && this.formulario.get('idTipoIdentificacion').touched">
                    <div *ngIf="this.formulario.get('idTipoIdentificacion').errors.required">El tipo de identificación es requerido</div>            
                </div>
            </div>
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="required">Número identificación</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.numeroIdentificacion" 
                name="numeroIdentificacion"
                placeholder="Ingrese número de identificación"
                (blur)="onNumeroIdentificacionBlur()">
                <div class="p-error block" *ngIf="this.formulario.get('numeroIdentificacion').invalid && this.formulario.get('numeroIdentificacion').touched">
                    <div *ngIf="this.formulario.get('numeroIdentificacion').errors.required">El numero de identificación es requerido</div>            
                </div>
            </div> 
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="required">Primer nombre</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.primerNombre" 
                name="primerNombre"
                placeholder="Ingrese primer nombre">
                <div class="p-error block" *ngIf="this.formulario.get('primerNombre').invalid && this.formulario.get('primerNombre').touched">
                    <div *ngIf="this.formulario.get('primerNombre').errors.required">El primer nombre es requerido</div>            
                </div>
            </div>
            <div class="p-fluid col sm:col-12 md:col-6">
                <label>Segundo nombre</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.segundoNombre" 
                name="segundoNombre"
                placeholder="Ingrese segundo nombre">
            </div>
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="required">Primer apellido</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.primerApellido" 
                name="primerApellido"
                placeholder="Ingrese primer apellido">
                <div class="p-error block" *ngIf="this.formulario.get('primerApellido').invalid && this.formulario.get('primerApellido').touched">
                    <div *ngIf="this.formulario.get('primerApellido').errors.required">El primer apellido es requerido</div>            
                </div>
            </div>
            <div class="p-fluid col sm:col-12 md:col-6">
                <label>Segundo apellido</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.segundoApellido" 
                name="segundoApellido"
                placeholder="Ingrese segundo apellido">
            </div>
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="required">Correo electrónico</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.email" 
                name="email"
                placeholder="Ingrese correo electrónico"          
                (ngModelChange)="inputsChangeCorreo(); validarCamposBackendPeriodoAcademico()"
                >
                <div class="p-error block" *ngIf="this.formulario.get('email').invalid && this.formulario.get('email').touched">
                    <div *ngIf="this.formulario.get('email').errors.required">El email es requerido</div>            
                </div>
            </div>
            <div class="p-fluid col sm:col-12 md:col-12">
                <h5>Información de usuario</h5>
            </div>    
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="required">Nombre usuario</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.nombreUsuario" 
                name="nombreUsuario"
                [disabled]="true"
                [style.opacity]="'0.6'">
                <div class="p-error block" *ngIf="this.formulario.get('nombreUsuario').invalid && this.formulario.get('nombreUsuario').touched">
                    <div *ngIf="this.formulario.get('nombreUsuario').errors.required">El nombreUsuario es requerido</div>            
                </div>
            </div>
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="required">Contraseña</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.password" 
                placeholder="Ingrese contraseña"
                name="password">
                <div class="p-error block" *ngIf="this.formulario.get('password').invalid && this.formulario.get('password').touched">
                    <div *ngIf="this.formulario.get('password').errors.required">El password es requerido</div>            
                </div>
            </div>
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="required">Estado</label>
                <p-dropdown 
                    [options]="listaEstados" 
                    [(ngModel)]="usuarioInDTO.estado"
                    optionLabel="label" 
                    optionValue="value"
                    placeholder="Seleccione estado usuario"
                    name="estado">
                </p-dropdown>
                <div class="p-error block" *ngIf="this.formulario.get('estado').invalid && this.formulario.get('estado').touched">
                    <div *ngIf="this.formulario.get('estado').errors.required">El estado requerido</div>            
                </div>
            </div>
            <div class="p-fluid col sm:col-12 md:col-12">
                <h5>Asignación de roles y permisos</h5>
            </div> 
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="required">Roles asignados</label>
                <p-multiSelect 
                    maxSelectedLabels="3" 
                    selectedItemsLabel="{0} Roles seleccionados" 
                    optionLabel="nombre"
                    optionValue="idRol" 
                    [defaultLabel]="listaRoles.length === 0 ? '':'Seleccione roles'"
                    [options]="listaRoles" 
                    [(ngModel)]="usuarioInDTO.lstIdRol"  
                    [filter]="false"
                    [showClear]="true"
                    [disabled]="listaRoles.length === 0"
                    name="roles"
                    (ngModelChange)="onRolesChange()"
                    appendTo = "body">
                <ng-template let-rol pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ rol.nombre}}</div>
                    </div>
                </ng-template>
                </p-multiSelect>
                <div class="p-error block" *ngIf="this.formulario.get('lstIdRol').invalid && this.formulario.get('lstIdRol').touched">
                    <div *ngIf="this.formulario.get('lstIdRol').errors.required">El rol es requerido</div>            
                </div>
            </div>
            <!--Selección programas a gestionar-->   
            <div class="p-fluid col sm:col-12 md:col-6" *ngIf="esValidoGestionarProgramas">
                <label class="required">Facultad</label>
                <p-multiSelect 
                    maxSelectedLabels="4" 
                    selectedItemsLabel="{0} Facultades seleccionadas" 
                    optionLabel="abreviatura" 
                    optionValue="idFacultad"
                    [defaultLabel]="'Seleccione facultad'"
                    [options]="listaFacultades" 
                    [(ngModel)]="lstIdFacultadSeleccionadas"  
                    [filter]="true"
                    [showClear]="true"
                    (ngModelChange)="onFacultadesChange()"
                    name="facultad"
                    appendTo = "body" >
                    <ng-template let-facultad pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div><strong>{{ facultad.abreviatura }}</strong>-{{ facultad.nombre }}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>
            </div>
            <div class="p-fluid col sm:col-12 md:col-6" *ngIf="esValidoGestionarProgramas">
                <label class="required">Programas asignados</label>
                <p-multiSelect 
                    maxSelectedLabels="4" 
                    selectedItemsLabel="{0} Programas seleccionados" 
                    optionLabel="abreviatura"
                    optionValue="idPrograma" 
                    [defaultLabel]="listaProgramas.length === 0 ? '':'Seleccione programas'"
                    [options]="listaProgramas" 
                    [(ngModel)]="usuarioInDTO.lstIdPrograma"  
                    [filter]="false"
                    [showClear]="true"
                    [disabled]="listaProgramas.length === 0" 
                    name="programas"
                    appendTo = "body">
                <ng-template let-programa pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div><strong>{{ programa.abreviatura }}</strong>-{{ programa.nombre }}</div>
                    </div>
                </ng-template>
                </p-multiSelect>
            </div>            
        </form>
    </div>    
   
    <!--Operación Ver-->
    <div class="grid" *ngIf="esVer" style="margin-left: 3%;">
        <div class="col-12">
            <!--Información personal-->
            <h5>Información personal</h5>
            <div class="flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Nombres</label>
                <div class="w-25rem" style="margin-left: 10%">
                    <label><b>{{obtenerNombreCompletoUsuario()}}</b></label>
                </div>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Identificacion</label>
                <div class="w-25rem" style="margin-left: 10%">
                    <label><b>{{usuarioOutDTOSeleccionado?.codigoTipoIdentificacion}} {{usuarioOutDTOSeleccionado?.numeroIdentificacion}}</b></label>
                </div>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Correo electrónico</label>
                <label class="w-25rem"
                    style="margin-left: 10%; width: 90%"><b>{{usuarioOutDTOSeleccionado?.email}}</b></label>
            </div>
            <!--Información usuario-->
            <h5>Información usuario</h5>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Nombre usuario</label>
                <div class="w-25rem" style="margin-left: 10%">
                    <label><b>{{usuarioOutDTOSeleccionado?.nombreUsuario}}</b></label>
                </div>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Contraseña</label>
                <div class="w-25rem" style="margin-left: 10%">
                    <label><b>{{usuarioOutDTOSeleccionado?.password}}</b></label>
                </div>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Estado</label>                
                <div class="w-25rem" style="margin-left: 10%">
                    <label><b>{{(usuarioOutDTOSeleccionado?.estado===true)? 'Activo':'Inactivo'}}</b></label>
                </div>
            </div>
            <!--Roles y permisos-->
            <h5>Roles y permisos</h5>            
            <!--Roles asignados-->
            <div class="mt-1 flex justify-content-start flex-wrap align-items-start">
                <label class="w-10rem" style="text-align: right;">Roles asignados</label>
                <div *ngIf="usuarioOutDTOSeleccionado?.lstIdRol.length > 0; else noRoles" class="w-25rem" style="margin-left: 10%">
                    <div *ngFor="let idRol of usuarioOutDTOSeleccionado?.lstIdRol ">
                        <label style="display: list-item; list-style: square  inside;"><b>{{obtenerNombreRol(idRol)}}</b></label>
                    </div>      
                </div>
                <ng-template #noRoles>
                    <label class="w-25rem" style="margin-left: 10%; width: 90%; color:red"><b>No asignado</b></label>
                </ng-template>
            </div>
            <!--Programas asignados-->
            <div class="mt-1 flex justify-content-start flex-wrap align-items-start">
                <label class="w-10rem" style="text-align: right;">Programas asignados</label>
                <div *ngIf="usuarioOutDTOSeleccionado?.lstIdPrograma.length > 0 ; else noProgramas" class="w-25rem" style="margin-left: 10%">
                    <div *ngFor="let idPrograma of usuarioOutDTOSeleccionado.lstIdPrograma ">
                        <label style="display: list-item; list-style: disc inside;"><b>{{obtenerNombrePrograma(idPrograma) | titlecase }}</b></label>
                    </div>      
                </div>
                <ng-template #noProgramas>
                    <label class="w-25rem" style="margin-left: 10%; width: 90%;"><b>No aplica</b></label>
                </ng-template>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Salir" icon="pi pi-times" class="p-button-text"
            (click)="salir()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" *ngIf="!esVer"
            (click)="validarYGuardarUsuario()"></button>
    </ng-template>
</p-dialog>