<p-dialog #modalDialog [(visible)]="mostrarModalCRUD" [style]="{width: '1024px'}" [header]="tituloModal" [modal]="true"
    class="p-fluid">
    <hr>

     <!--Información Usuario-->
    <div class="grid" *ngIf="esEditar || esCrear"  style="margin-left: 3%;">
        <div class="col-12">
            <!--Información personal-->
            <h5>Información personal</h5>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Tipo identificación</label>
                <p-dropdown 
                    [style]="{ 'height': '2.0rem', 'margin-left': '7%',  'line-height': '1.2px', 'width': '91%' }"
                    [ngClass]="{'w-23rem':true}" 
                    [options]="listaTiposIdentificacion" 
                    [(ngModel)]="usuarioInDTO.idTipoIdentificacion"
                    optionLabel="tipoIdentificacion" 
                    optionValue="idTipoIdentificacion"
                    placeholder="Seleccione tipo de identificación">
                </p-dropdown>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Número identificación</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.numeroIdentificacion" 
                [style]="{ 'height': '2.0rem', 'margin-left': '2.4%', 'line-height': '1.2px'}"
                [ngClass]="{'w-21rem':true }"
                placeholder="Ingrese número de identificación">
            </div> 
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Primer nombre</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.primerNombre" 
                [style]="{ 'height': '2.0rem', 'margin-left': '2.4%', 'line-height': '1.2px'}"
                [ngClass]="{'w-21rem':true }"
                placeholder="Ingrese primer nombre">
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Segundo nombre</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.segundoNombre" 
                [style]="{ 'height': '2.0rem', 'margin-left': '2.4%', 'line-height': '1.2px'}"
                [ngClass]="{'w-21rem':true }"
                placeholder="Ingrese segundo nombre">
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Primer apellido</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.primerApellido" 
                [style]="{ 'height': '2.0rem', 'margin-left': '2.4%', 'line-height': '1.2px'}"
                [ngClass]="{'w-21rem':true }"
                placeholder="Ingrese primer apellido">
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Segundo apellido</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.segundoApellido" 
                [style]="{ 'height': '2.0rem', 'margin-left': '2.4%', 'line-height': '1.2px'}"
                [ngClass]="{'w-21rem':true }"
                placeholder="Ingrese segundo apellido">
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Correo electrónico</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.email" 
                [style]="{ 'height': '2.0rem', 'margin-left': '2.4%', 'line-height': '1.2px'}"
                [ngClass]="{'w-21rem':true }"
                placeholder="Ingrese correo electrónico">
            </div>
             <!--Información usuario-->
             <h5>Información de usuario</h5>
             <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Nombre usuario</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.nombreUsuario" 
                [style]="{ 'height': '2.0rem', 'margin-left': '2.4%', 'line-height': '1.2px'}"
                [ngClass]="{'w-21rem':true }"
                placeholder="Ingrese nombre de usuario">
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Contraseña</label>
                <input type="text" class="p-inputtext" 
                [(ngModel)]="usuarioInDTO.password" 
                [style]="{ 'height': '2.0rem', 'margin-left': '2.4%', 'line-height': '1.2px'}"
                [ngClass]="{'w-21rem':true }"
                placeholder="Ingrese contraseña">
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Estado</label>
                <p-dropdown 
                    [style]="{ 'height': '2.0rem', 'margin-left': '7%',  'line-height': '1.2px', 'width': '91%' }"
                    [ngClass]="{'w-23rem':true}" 
                    [options]="listaEstados" 
                    [(ngModel)]="usuarioInDTO.estado"
                    optionLabel="label" 
                    optionValue="value"
                    placeholder="Seleccione estado usuario">
                </p-dropdown>
            </div>
            <!--Roles y permisos-->
            <h5>Asignación de roles y permisos</h5>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Facultad</label>
                <p-multiSelect 
                    maxSelectedLabels="4" 
                    selectedItemsLabel="{0} Facultades seleccionadas" 
                    optionLabel="abreviatura" 
                    optionValue="idFacultad"
                    [defaultLabel]="'Seleccione facultad'"
                    [options]="listaFacultades" 
                    [(ngModel)]="lstIdFacultadSeleccionadas"  
                    [style]="{ 'height': '2.0rem', 'margin-left': '7%',  'line-height': '1.2px', 'width': '90%' }" 
                    [ngClass]="{'w-23rem':true }"
                    [filter]="true"
                    [showClear]="true"
                    (ngModelChange)="onFacultadesChange()" >
                    <ng-template let-facultad pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div><strong>{{ facultad.abreviatura }}</strong>-{{ facultad.nombre }}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Programas asignados</label>
                <p-multiSelect 
                    maxSelectedLabels="4" 
                    selectedItemsLabel="{0} Programas seleccionados" 
                    optionLabel="abreviatura"
                    optionValue="idPrograma" 
                    [defaultLabel]="listaProgramas.length === 0 ? '':'Seleccione programas'"
                    [options]="listaProgramas" 
                    [(ngModel)]="usuarioInDTO.lstIdPrograma"  
                    [style]="{ 'height': '2.0rem', 'margin-left': '7%',  'line-height': '1.2px', 'width': '90%' }" 
                    [ngClass]="{'w-23rem':true }"
                    [filter]="false"
                    [showClear]="true"
                    [disabled]="listaProgramas.length === 0" >
                <ng-template let-programa pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div><strong>{{ programa.abreviatura }}</strong>-{{ programa.nombre }}</div>
                    </div>
                </ng-template>
                </p-multiSelect>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Roles asignados</label>
                <p-multiSelect 
                    maxSelectedLabels="3" 
                    selectedItemsLabel="{0} Roles seleccionados" 
                    optionLabel="nombre"
                    optionValue="idRol" 
                    [defaultLabel]="listaRoles.length === 0 ? '':'Seleccione roles'"
                    [options]="listaRoles" 
                    [(ngModel)]="usuarioInDTO.lstIdRol"  
                    [style]="{ 'height': '2.0rem', 'margin-left': '7%',  'line-height': '1.2px', 'width': '90%' }" 
                    [ngClass]="{'w-23rem':true }"
                    [filter]="false"
                    [showClear]="true"
                    [disabled]="listaRoles.length === 0">
                <ng-template let-rol pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ rol.nombre}}</div>
                    </div>
                </ng-template>
                </p-multiSelect>
            </div>
        
        </div>
    </div>

    <p>JSON</p><pre>{{ usuarioInDTO | json }}</pre>

    <div class="grid" *ngIf="esEditar || esCrear"  style="margin-left: 3%;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!--Operación Ver-->
    <div class="grid" *ngIf="esVer" style="margin-left: 3%;">
        <div class="col-12">
            <!--Información personal-->
            <h5>Información personal</h5>
            <div class="flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Nombres</label>
                <div class="w-25rem" style="margin-left: 10%">
                    <label><b>{{obtenerNombreCompletoUsuario()}}</b></label>
                </div>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Identificacion</label>
                <div class="w-25rem" style="margin-left: 10%">
                    <label><b>{{usuarioOutDTOSeleccionado?.codigoTipoIdentificacion}} {{usuarioOutDTOSeleccionado?.numeroIdentificacion}}</b></label>
                </div>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Correo electrónico</label>
                <label class="w-25rem"
                    style="margin-left: 10%; width: 90%"><b>{{usuarioOutDTOSeleccionado?.email}}</b></label>
            </div>
            <!--Información usuario-->
            <h5>Información usuario</h5>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Nombre usuario</label>
                <div class="w-25rem" style="margin-left: 10%">
                    <label><b>{{usuarioOutDTOSeleccionado?.nombreUsuario}}</b></label>
                </div>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Contraseña</label>
                <div class="w-25rem" style="margin-left: 10%">
                    <label><b>{{usuarioOutDTOSeleccionado?.password}}</b></label>
                </div>
            </div>
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-10rem align-self-center" style="text-align: right;">Estado</label>                
                <div class="w-25rem" style="margin-left: 10%">
                    <label><b>{{(usuarioOutDTOSeleccionado?.estado===true)? 'Activo':'Inactivo'}}</b></label>
                </div>
            </div>
            <!--Roles y permisos-->
            <h5>Roles y permisos</h5>
            <!--Programas asignados-->
            <div class="mt-1 flex justify-content-start flex-wrap align-items-start">
                <label class="w-10rem" style="text-align: right;">Programas asignados</label>
                <div *ngIf="usuarioOutDTOSeleccionado?.lstIdRol.length > 0; else noProgramas" class="w-25rem" style="margin-left: 10%">
                    <div *ngFor="let idPrograma of usuarioOutDTOSeleccionado.lstIdPrograma ">
                        <label style="display: list-item; list-style: disc inside;"><b>{{obtenerNombrePrograma(idPrograma) | titlecase }}</b></label>
                    </div>      
                </div>
                <ng-template #noProgramas>
                    <label class="w-25rem" style="margin-left: 10%; width: 90%; color:red"><b>No asignado</b></label>
                </ng-template>
            </div>
            <!--Roles asignados-->
            <div class="mt-1 flex justify-content-start flex-wrap align-items-start">
                <label class="w-10rem" style="text-align: right;">Roles asignados</label>
                <div *ngIf="usuarioOutDTOSeleccionado?.lstIdRol.length > 0; else noRoles" class="w-25rem" style="margin-left: 10%">
                    <div *ngFor="let idRol of usuarioOutDTOSeleccionado?.lstIdRol ">
                        <label style="display: list-item; list-style: square  inside;"><b>{{obtenerNombreRol(idRol)}}</b></label>
                    </div>      
                </div>
                <ng-template #noRoles>
                    <label class="w-25rem" style="margin-left: 10%; width: 90%; color:red"><b>No asignado</b></label>
                </ng-template>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <hr>
        <button pButton pRipple label="Salir" icon="pi pi-times" class="p-button-text"
            (click)="salir()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" *ngIf="!esVer"
            (click)="guardar()"></button>
    </ng-template>
</p-dialog>