<div class="grid">
    <div class="col-6">
        <h3>Gestionar usuarios</h3>
        <p>Esta pantalla permite la gestión completa de usuarios de la aplicación, incluyendo la creación, visualización, edición y desactivación, así como la asignación de permisos correspondientes a cada usuario.</p>
        <hr>
    </div>
</div>

<div class="p-fluid p-formgrid grid">
    <div class="field col-6 md:col-3">
        <label>Nombres</label>
        <input type="text" class="p-inputtext" 
        [(ngModel)]="filtroUsuarioDTO.nombre" 
        placeholder="Ingrese nombres"
        (ngModelChange)="inputsChange()">
    </div>
    <div class="field col-6 md:col-3">
        <label>Identificación</label>
        <input type="text" class="p-inputtext" 
        [(ngModel)]="filtroUsuarioDTO.numeroIdentificacion" 
        placeholder="Ingrese número de identificación"
        (ngModelChange)="inputsChange()">
    </div>
    <div class="field col-6 md:col-3">
        <label>Estado</label>
        <p-dropdown 
            placeholder="Seleccione estado usuario" 
            [options]="listaEstados" 
            [(ngModel)]="filtroUsuarioDTO.estado"
            optionLabel="label" 
            optionValue="value"
            [showClear]="true"
            (ngModelChange)="inputsChange()">
        </p-dropdown>
    </div>
</div>

<div class="grid">
    <div class="col-12">        
        <div class="grid" >
            <div class="col-6" *ngIf="totalRecords!==undefined" style="padding: 2rem;">          
                <label class="large-label">Usuarios consultados {{totalRecords}}</label>
            </div>
            <div [class]="totalRecords !== undefined ? 'col-6' : 'col-12' ">
                <p-toolbar styleClass="mb-1" [style]="{'background': 'none', 'border': 'none', 'margin': '0', 'padding':'0'}">
                    <ng-template pTemplate="left">
                    </ng-template>
                    <ng-template pTemplate="right">
                        <span style="margin-right: 10px;"></span>
                        <div class="my-0">
                            <button pButton pRipple label="Registrar usuario" icon="pi pi-plus" class="p-button-success mr-2" (click)="crearUsuario()"></button>
                        </div>
                    </ng-template>
                </p-toolbar>  
            </div>
        </div>                              
                
        <p-table #dt [value]="listaUsuarioOutDTO" [columns]="cols" responsiveLayout="scroll" [rows]="10"
            selectionMode="multiple" [rowHover]="true" dataKey="id" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th>Identificación</th>
                    <th>Nombres y apellidos</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Roles</th>
                    <th>Programas asignados</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuarioOutDTO>
                <tr>
                    <td>{{usuarioOutDTO.codigoTipoIdentificacion}} {{usuarioOutDTO.numeroIdentificacion}}</td>
                    <td>{{obtenerNombreCompletoUsuario(usuarioOutDTO)}}</td>
                    <td>{{usuarioOutDTO.nombreUsuario}}</td>
                    <td>{{usuarioOutDTO.estado | titlecase}}</td>
                    <td>
                        <div *ngIf="usuarioOutDTO.lstIdRol.length > 0; else noRoles">
                            <div *ngFor="let idRol of usuarioOutDTO.lstIdRol " style="display: flex; flex-direction: column; ">
                                {{obtenerNombreRol(idRol)}}
                            </div>      
                        </div>
                        <ng-template #noRoles>
                            <p style = "color:red">No asignado</p>
                        </ng-template>
                    </td>
                    <td>
                        <div *ngIf="usuarioOutDTO.lstIdPrograma.length > 0; else noProgramas">
                            <div *ngFor="let idPrograma of usuarioOutDTO.lstIdPrograma " style="display: flex; flex-direction: column; ">
                                {{obtenerNombrePrograma(idPrograma) | titlecase }}
                            </div>                         
                        </div>
                        <ng-template #noProgramas>
                            <p>N/A</p>
                        </ng-template>
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple type="button" icon="pi pi-search"  pTooltip="Ver usuario"  class="p-button-rounded p-button-info" (click)="verUsuario(usuarioOutDTO)"></button>
                            <span style="margin-right: 10px;"></span>
                            <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar usuario"  class="p-button-rounded p-button-secondary" (click)="editarUsuario(usuarioOutDTO)"></button>
                            <span style="margin-right: 10px;"></span>
                            <button pButton pRipple type="button" icon="pi pi-ban" pTooltip="Inactivar/Activar usuario" class="p-button-rounded p-button-danger" (click)="cambiarEstadoUsuario(usuarioOutDTO)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="pagina" [rows]="registrosPorPagina" [totalRecords]="totalRecords"></p-paginator>   
    </div>   
</div>

<!-- p-toast para mensajes -->
 <p-toast></p-toast>
 
<div class="grid">
    <div class="col-12">
        <!-- Modal de confirmación para cambiar el estado del usuario -->
        <p-dialog [(visible)]="inactivarUsuarioDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>{{ 'gestionar.usuario.mensaje.confirmacion.inactivacion' | translate:{'0': obtenerEstadoUsuarioContrario(), '1': obtenerNombreCompletoUsuarioSeleccionado()} }}</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="inactivarUsuarioDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmarCambioEstado()"></button>
            </ng-template>
        </p-dialog>
    </div>    
</div>