<div class="grid">
    <div class="col-6">
        <h3>Gestionar usuarios</h3>
        <p>Esta pantalla permite la gestión completa de usuarios de la aplicación, incluyendo la creación,
        visualización, edición y desactivación, así como la asignación de permisos correspondientes a cada usuario.</p>
        <hr>
    </div>
</div>


<div class="row">
    <div class="lg:col-12 md:col-12 sm:col-12">
        <div class="mt-1 flex justify-content-start flex-wrap">
            <label class="w-7rem align-self-center" style="text-align: right;">Nombres</label>
            <input type="text" class="p-inputtext" 
            [(ngModel)]="filtroUsuarioDTO.nombre" 
            [style]="{ 'height': '2.0rem', 'margin-left': '2.4%', 'line-height': '1.2px'}"
            [ngClass]="{'w-21rem':true }"
            placeholder="Ingrese nombres"
            (ngModelChange)="inputsChange()">
        </div>
        <div class="mt-1 flex justify-content-start flex-wrap">
            <label class="w-7rem align-self-center" style="text-align: right;">Identificación</label>
            <input type="text" class="p-inputtext" 
            [(ngModel)]="filtroUsuarioDTO.numeroIdentificacion" 
            [style]="{ 'height': '2.0rem', 'margin-left': '2.4%', 'line-height': '1.2px'}"
            [ngClass]="{'w-21rem':true }"
            placeholder="Ingrese número de identificación"
            (ngModelChange)="inputsChange()">
        </div>
        <div class="mt-1 flex justify-content-start flex-wrap">
            <label class="w-7rem align-self-center" style="text-align: right;">Estado</label>
            <p-dropdown 
                [style]="{ 'height': '2.0rem', 'margin-left': '8%',  'line-height': '1.2px', 'width': '91%' }"
                placeholder="Seleccione estado usuario" 
                [ngClass]="{'w-23rem':true}" 
                [options]="listaEstados" 
                [(ngModel)]="filtroUsuarioDTO.estado"
                optionLabel="label" 
                optionValue="value"
                [showClear]="true"
                (ngModelChange)="onEstadoChange()">
            </p-dropdown>
        </div>
        {{estadoSeleccionado | json}}
    </div>
</div>

<div class="grid">
    <div class="col-12">        
        <div class="grid" >
            <div class="col-6" *ngIf="totalRecords!==undefined" style="padding: 2rem;">          
                <label class="large-label">Usuarios consultados: {{totalRecords}}</label>
            </div>
            <div class="col-6">
                <p-toolbar styleClass="mb-1" [style]="{'background': 'none', 'border': 'none', 'margin': '0', 'padding':'0'}">
                    <ng-template pTemplate="left">
                    </ng-template>
                    <ng-template pTemplate="right">
                        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                        <button pButton pRipple label="Subir archivo" icon="pi pi-upload" class="p-button-help" (click)="cargarArchivo()"></button>
                        <span style="margin-right: 10px;"></span>
                        <div class="my-0">
                            <button pButton pRipple label="Crear usuario" icon="pi pi-plus" class="p-button-success mr-2" (click)="abrirModalCrearEditarVerUsuario(usuarioOutDTO, 'Crear usuario')"></button>
                        </div>
                    </ng-template>
                </p-toolbar>  
            </div>
        </div>                        
                
        <p-table #dt [value]="listaUsuarioOutDTO" [columns]="cols" responsiveLayout="scroll" [rows]="10"
            selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>Identificación</th>
                    <th>Nombres y apellidos</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Roles asignados</th>
                    <th>Programas asignados</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuarioOutDTO>
                <tr>
                    <td>{{usuarioOutDTO.codigoTipoIdentificacion}} {{usuarioOutDTO.numeroIdentificacion}}</td>
                    <td>{{obtenerNombreCompletoUsuario(usuarioOutDTO)}}</td>
                    <td>{{usuarioOutDTO.nombreUsuario}}</td>
                    <td>{{usuarioOutDTO.estado | titlecase}}</td>
                    <td>
                        <div *ngIf="usuarioOutDTO.lstIdRol.length > 0; else noRoles">
                            <div *ngFor="let idRol of usuarioOutDTO.lstIdRol " style="display: flex; flex-direction: column; ">
                                {{obtenerNombreRol(idRol)}}
                            </div>      
                        </div>
                        <ng-template #noRoles>
                            <p style = "color:red">No asignado</p>
                        </ng-template>
                    </td>
                    <td>
                        <div *ngIf="usuarioOutDTO.lstIdPrograma.length > 0; else noProgramas">
                            <div *ngFor="let idPrograma of usuarioOutDTO.lstIdPrograma " style="display: flex; flex-direction: column; ">
                                {{obtenerNombrePrograma(idPrograma) | titlecase }}
                            </div>                         
                        </div>
                        <ng-template #noProgramas>
                            <p style = "color:red">No asignado</p>
                        </ng-template>
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-info" (click)="abrirModalCrearEditarVerUsuario(usuarioOutDTO, 'Ver usuario')"></button>
                            <span style="margin-right: 10px;"></span>
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary" (click)="abrirModalCrearEditarVerUsuario(usuarioOutDTO, 'Editar usuario')"></button>
                            <span style="margin-right: 10px;"></span>
                            <button pButton pRipple type="button" icon="pi pi-ban" class="p-button-rounded p-button-danger" (click)="inactivarUsuario(usuarioOutDTO)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="pagina" [rows]="registrosPorPagina" [totalRecords]="totalRecords"></p-paginator>   
    </div>   
</div>

<p>JSON</p><pre>{{ usuarioOutDTOSeleccionado | json }}</pre>

<app-crear-editar-ver-usuario #crearEditarVerUsuario (modalClosedEmitter)="actualizarInformacionUsuarios()"></app-crear-editar-ver-usuario>
 <!-- p-toast para mensajes -->
 <p-toast></p-toast>
 
<div class="grid">
    <div class="col-12">
        <!-- botón inactivar fila -->
        <p-dialog [(visible)]="inactivarUsuarioDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro que desea inactivar el usuario <b>{{obtenerNombreCompletoUsuarioSeleccionado()}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="inactivarUsuarioDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmarInactivacion()"></button>
            </ng-template>
        </p-dialog>
    </div>    
</div>