<div class="flex flex-column">
    <div class="grid" *ngIf="this.lectura && this.docente">
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Tipo identificación</label>
            <p class="label col-12 md:col-6">{{this.docente.codigoTipoIdentificacion}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Número identificación</label>
            <p class="label col-12 md:col-6">{{this.docente.numeroIdentificacion}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Primer nombre</label>
            <p class="label col-12 md:col-6">{{this.docente.primerNombre}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Segundo nombre</label>
            <p class="label col-12 md:col-6">{{this.docente.segundoNombre}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Primer apellido</label>
            <p class="label col-12 md:col-6">{{this.docente.primerApellido}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Segundo apellido</label>
            <p class="label col-12 md:col-6">{{this.docente.segundoApellido}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Correo electrónico</label>
            <p class="label col-12 md:col-6">{{this.docente.email}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Estado</label>
            <p class="label col-12 md:col-6">{{this.docente.estado}}</p>
        </div>
    </div>

    <form class="grid" *ngIf="!this.lectura" [formGroup]="formulario">
        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Tipo identificación</label>
            <p-dropdown [placeholder]="' '" [ngClass]="{
                            'ng-invalid ng-dirty':
                                this.idTipoIdentificacion().invalid &&
                                this.idTipoIdentificacion().touched
                        }" [options]="tiposIdentificacion" optionValue="idTipoIdentificacion" optionLabel="tipoIdentificacion"
                formControlName="idTipoIdentificacion" [showClear]="true" appendTo="body">
            </p-dropdown>
            <small class="p-error block fade-in" *ngIf="this.idTipoIdentificacion().invalid &&
                                (this.idTipoIdentificacion().touched)">
                Tipo identificación es obligatorio
            </small>
        </div>
        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Número de identificación</label>
            <input type="text" pInputText [ngClass]="{
                        'ng-invalid ng-dirty':
                            this.numeroIdentificacion().invalid &&
                            this.numeroIdentificacion().touched
                    }" formControlName="numeroIdentificacion" placeholder=" ">
            <small class="p-error block fade-in" *ngIf="this.numeroIdentificacion().invalid &&
                    (this.numeroIdentificacion().touched)">
                Número identificación es obligatorio
            </small>

        </div>

        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Primer nombre</label>
            <input type="text" pInputText [ngClass]="{
                    'ng-invalid ng-dirty':
                        this.primerNombre().invalid &&
                        this.primerNombre().touched
                }" formControlName="primerNombre">
            <small class="p-error block fade-in" *ngIf="this.primerNombre().invalid &&
                    (this.primerNombre().touched)">
                    Primer nombre es obligatorio
            </small>
        </div>
        <div class="p-fluid col sm:col-12 md:col-6">
            <label >Segundo nombre</label>
            <input type="text" pInputText [ngClass]="{
                    'ng-invalid ng-dirty':
                        this.segundoNombre().invalid &&
                        this.segundoNombre().touched
                }" formControlName="segundoNombre">
        </div>
        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Primer apellido</label>
            <input type="text" pInputText [ngClass]="{
                'ng-invalid ng-dirty':
                    this.primerApellido().invalid &&
                    this.primerApellido().touched
            }" formControlName="primerApellido">
            <small class="p-error block fade-in" *ngIf="this.primerApellido().invalid &&
                    (this.primerApellido().touched)">
                Primer apellido es obligatorio
            </small>
        </div>

        <div class="p-fluid col sm:col-12 md:col-6">
            <label >Segundo apellido</label>
            <input type="text" pInputText [ngClass]="{
                    'ng-invalid ng-dirty':
                        this.segundoApellido().invalid &&
                        this.segundoApellido().touched
                }" formControlName="segundoApellido">
        </div>
        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Correo electrónico</label>
            <input type="text" pInputText [ngClass]="{
                        'ng-invalid ng-dirty':
                            this.email().invalid &&
                            this.email().touched
                    }" formControlName="email">
            <small class="p-error block fade-in" *ngIf="this.email().invalid &&
                    (this.email().touched)">
                Correo electrónico es obligatorio
            </small>
        </div>
    </form>

    <div class="flex justify-content-end" style="width: 100%;">
        <div class="m-1">
            <button pButton pRipple label="Salir" icon="pi pi-times" class="p-button-text"
            (click)="salir()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-plus" class="p-button-text ml-2"
                (click)="guardardocente()" *ngIf="!this.lectura"></button>
        </div>
    </div>
</div>