.borde {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    max-width: 300px;
    margin: 20px;
    transition: box-shadow 0.3s ease;
    height: 200px;
    width: 250px;
}
.header {
    text-align: center;
    margin-top: 10px;
}
.borde:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.body p {
    margin: 15px;
    font-size: 8px; /* Tamaño de fuente legible */
    color: #333; /* Color de texto oscuro para buen contraste */
    margin-bottom: 1em; /* Espacio entre párrafos */
    text-align: justify; /* Alinea el texto a ambos márgenes para un mejor aspecto visual */
    text-rendering: optimizeLegibility; /* Optimiza la legibilidad del texto */
    -webkit-font-smoothing: antialiased; /* Mejora la suavidad de las fuentes en Webkit browsers */
    -moz-osx-font-smoothing: grayscale; /* Mejora la suavidad de las fuentes en Firefox en macOS */
    word-wrap: break-word; /* Asegura que las palabras largas se ajusten al ancho del contenedor */
  }