<div class="flex flex-column">
    <div class="grid" *ngIf="this.lectura">
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Municipio</label>
            <p class="label col-12 md:col-6">{{this.espacio.municipio}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Ubicación</label>
            <p class="label col-12 md:col-6">{{this.espacio.ubicacion}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Edificio</label>
            <p class="label col-12 md:col-6">{{this.espacio.edificio}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Tipo espacio fisico</label>
            <p class="label col-12 md:col-6">{{this.espacio.idTipoEspacioFisico}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">OID espacio físico</label>
            <p class="label col-12 md:col-6">{{this.espacio.OID}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Salón</label>
            <p class="label col-12 md:col-6">{{this.espacio.salon}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Estado</label>
            <p class="label col-12 md:col-6">{{this.espacio.estado}}</p>
        </div>
        <div class="p-fluid col-12 flex">
            <label class=" col-12 md:col-2">Capacidad</label>
            <p class="label col-12 md:col-6">{{this.espacio.capacidad}}</p>
        </div>
    </div>
    <form class="grid" *ngIf="!this.lectura" [formGroup]="formulario">
        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Ubicacion</label>
            <p-dropdown 
                [placeholder]="' '" 
                [ngClass]="{
                            'ng-invalid ng-dirty':
                                this.idUbicacion().invalid &&
                                this.idUbicacion().touched}" 
                [options]="ubicaciones" 
                optionValue="idUbicacion" 
                optionLabel="nombre"
                formControlName="idUbicacion" 
                [showClear]="true" appendTo="body"
                (ngModelChange)="onChangeUbicacion()"
            >
            </p-dropdown>
            <small class="p-error block fade-in" *ngIf="this.idUbicacion().invalid &&
                                (this.idUbicacion().touched)">
                Ubicación es obligatorio
            </small>
        </div>
        <div class="p-fluid col sm:col-12 md:col-6" *ngIf="false">
            <label class="required">Edificio</label>
            <p-dropdown [placeholder]="' '" [ngClass]="{
                            'ng-invalid ng-dirty':
                                this.idEdificio().invalid &&
                                this.idEdificio().touched
                        }" [options]="edificios" optionValue="idEdificio" optionLabel="nombre"
                formControlName="idEdificio" [showClear]="true" appendTo="body">
            </p-dropdown>
            <small class="p-error block fade-in" *ngIf="this.idEdificio().invalid &&
                                (this.idEdificio().touched)">
                Edificio es obligatorio
            </small>
        </div>
        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Salón</label>
            <input type="text" 
                pInputText 
                [ngClass]="{
                        'ng-invalid ng-dirty':
                            this.salon().invalid &&
                            this.salon().touched
                    }" 
                formControlName="salon" 
                placeholder=" ">
            <small class="p-error block fade-in" *ngIf="this.salon().invalid &&
                    (this.salon().touched)">
                Salón es obligatorio
            </small>

        </div>
        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Estado</label>
            <p-dropdown 
                [placeholder]="' '" 
                [ngClass]="{
                            'ng-invalid ng-dirty':
                                this.estado().invalid &&
                                this.estado().touched}" 
                [options]="estados" 
                formControlName="estado" 
                [showClear]="true" 
                appendTo="body"
            >
            </p-dropdown>
            <small class="p-error block fade-in" *ngIf="this.estado().invalid &&
                                (this.estado().touched)">
                Salón es obligatorio
            </small>
        </div>
        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Tipo</label>
            <p-dropdown [placeholder]="' '" 
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                this.tipo().invalid &&
                                this.tipo().touched
                        }" 
                        [options]="lstTipoEspacioFisicoOutDTO" 
                        optionValue="idTipoEspacioFisico" 
                        optionLabel="tipo"
                        formControlName="tipo" 
                        [showClear]="true" 
                        appendTo="body">
            </p-dropdown>
            <small class="p-error block fade-in" *ngIf="this.tipo().invalid &&
                                (this.tipo().touched)">
                Tipo es obligatorio
            </small>
        </div>
        <div class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Capacidad</label>
            <p-inputNumber [ngClass]="{
                            'ng-invalid ng-dirty':
                                this.capacidad().invalid &&
                                this.capacidad().touched
                        }" [step]="1" [showButtons]="true" [min]="1" formControlName="capacidad">
            </p-inputNumber>
            <small class="p-error block fade-in" *ngIf="this.capacidad().invalid &&
                    (this.capacidad().touched)">
                Capacidad es obligatorio
            </small>
        </div>
        <div  class="p-fluid col sm:col-12 md:col-6">
            <label class="required">Recursos</label>
            <p-multiSelect 
                maxSelectedLabels="4" 
                optionLabel="abreviatura" 
                [defaultLabel]="'Seleccione recurso'"
                [options]="recursosLista" 
                formControlName="recursos"  
                [filter]="false"
                [showClear]="true"
                optionLabel="nombre"
                optionValue="idRecurso"
                appendTo = "body"
                [ngClass]="{
                    'ng-invalid ng-dirty':
                        this.recursos().invalid &&
                        this.recursos().touched}"
                >
            </p-multiSelect>    	
            <small class="p-error block fade-in" *ngIf="this.recursos().invalid &&
                                (this.recursos().touched)">
                Recursos es obligatorio
            </small>
        </div>
        <!-- <div class="p-fluid col-12">
            <app-filtro-grupo-espacio-fisico (emitirGrupoSeleccionado) = "getAgrupadoresSeleccionados($event)" [agrupadoresLectura] = "this.agrupadoresLectura" [lectura] = "this.lectura"></app-filtro-grupo-espacio-fisico>
        </div> -->
    </form>
    <div class="flex justify-content-end" style="width: 100%;">
        <div class="m-1">
            <button pButton pRipple label="Salir" icon="pi pi-times" class="p-button-text"
            (click)="salir()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-plus" class="p-button-text ml-2"
                (click)="guardar()" *ngIf="!this.lectura"></button>
        </div>
    </div>
</div>
