<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <h3>Gestionar espacios físicos</h3>
        <p>Esta pantalla permite la creación, visualización, edición y eliminación manual de espacios físicos, así como la visualización de sus horarios.</p>
        <hr>
    </div>
</div>

<div class="p-fluid p-formgrid grid">
    <div class="field col-6 md:col-3">
        <label>Ubicación</label>
        <p-multiSelect 
            maxSelectedLabels="4" 
            selectedItemsLabel="{0} Ubicaciones seleccionadas" 
            optionLabel="nombre" 
            [defaultLabel]="'Seleccione ubicación'"
            [options]="lstUbicacionOutDTO" 
            [(ngModel)]="filtroEspacioFisicoDTO.listaIdUbicacion"  
            [filter]="false"
            [showClear]="true"
            optionLabel="nombre" 
            optionValue="idUbicacion"
            (ngModelChange)="onUbicacionesChange()" >
        </p-multiSelect>
    </div>
    <div class="field col-6 md:col-3">
        <label>Tipo</label>
        <p-multiSelect 
            maxSelectedLabels="4" 
            selectedItemsLabel="{0} Tipos seleccionados" 
            optionLabel="tipo" 
            [placeholder]="filtroEspacioFisicoDTO?.listaIdUbicacion?.length === 0 ? ' ':'Seleccione tipo espacio físico'" 
            [options]="lstTipoEspacioFisicoOutDTO" 
            [(ngModel)]="filtroEspacioFisicoDTO.listaIdTipoEspacioFisico"  
            [disabled]="filtroEspacioFisicoDTO?.listaIdUbicacion.length === 0"
            [filter]="false"
            [showClear]="true"
            optionLabel="tipo" 
            optionValue="idTipoEspacioFisico"
            emptyMessage="No hay tipos para las ubicaciones seleccionadas"
            (ngModelChange)="onTipoEspacioFisicoChange()" >
        </p-multiSelect>
    </div>
    <div class="field col-6 md:col-3">
        <label>Estado</label>
        <p-dropdown 
            [placeholder]="filtroEspacioFisicoDTO?.listaIdUbicacion.length === 0 ? ' ':'Seleccione estado espacio físico'" 
            [options]="listaEstados" 
            [(ngModel)]="filtroEspacioFisicoDTO.estado"
            [showClear]="true"
            [disabled]="filtroEspacioFisicoDTO?.listaIdUbicacion.length === 0"
            (ngModelChange)="onEstadoChange()">
        </p-dropdown>
    </div>
    <div class="field col-6 md:col-3">
        <label>Nombre</label>
        <input [disabled]="filtroEspacioFisicoDTO?.listaIdUbicacion.length === 0"
               type="text" class="p-inputtext" 
               [(ngModel)]="filtroEspacioFisicoDTO.salon" 
               [placeholder]="filtroEspacioFisicoDTO?.listaIdUbicacion.length === 0 ? ' ':'Ingrese nombre'"
               [style.opacity]="filtroEspacioFisicoDTO?.listaIdUbicacion.length === 0 ? '0.6' : ''"
               (ngModelChange)="inputsChange()">
    </div>
</div>

<div class="grid">
    <div class="col-12"> 
        <div class="grid" *ngIf="totalRecords!==undefined">
            <div class="col-6" *ngIf="totalRecords!==undefined" style="padding: 2rem;">          
                <label class="large-label">Espacios físicos consultados: {{totalRecords}}</label>
            </div>
            <div [class]="totalRecords!==undefined ? 'col-6': 'col-12'">
                <p-toolbar styleClass="mb-1" [style]="{'background': 'none', 'border': 'none', 'margin': '0', 'padding':'0'}">
                    <ng-template pTemplate="left">
                    </ng-template>
                    <ng-template pTemplate="right">
                        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                        <button pButton pRipple label="Subir archivo" icon="pi pi-upload" class="p-button-help" (click)="cargarArchivo()"></button>
                        <span style="margin-right: 10px;"></span>
                        <div class="my-0">
                            <button pButton pRipple label="Crear espacio físico" icon="pi pi-plus" class="p-button-success mr-2" (click)="registrarEspacioFisico()"></button>
                        </div>
                    </ng-template>
                </p-toolbar>  
            </div>
        </div>       
        <p-table #dt [value]="listaEspacioFisicoDTO" responsiveLayout="scroll" [rows]="10"
            selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>Ubicación</th>
                    <th>Edificio</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                    <th>Ver horario</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-espacioFisicoDTO>
                <tr>
                    <td>{{espacioFisicoDTO.nombreUbicacion}}</td>
                    <td>{{espacioFisicoDTO?.nombreEdificio}}</td>
                    <td>{{espacioFisicoDTO.tipoEspacioFisico}}</td>
                    <td>{{espacioFisicoDTO.salon}}</td>
                    <td>{{espacioFisicoDTO.capacidad}}</td>
                    <td>{{espacioFisicoDTO.estado | titlecase}}</td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-info" (click) = "verEspacioFisico(espacioFisicoDTO.idEspacioFisico)"></button>
                            <span style="margin-right: 10px;"></span>
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary"></button>
                            <span style="margin-right: 10px;"></span>
                            <button pButton pRipple type="button" icon="pi pi-ban" class="p-button-rounded p-button-danger" (click)="inactivarEspacioFisico(espacioFisicoDTO.idEspacioFisico)"></button>
                        </div>
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple type="button" icon="pi pi-calendar" class="p-button-rounded p-button-info p-button-outlined" (click)="abrirModalHorarioAula(espacioFisicoDTO)"></button>  
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="pagina" [rows]="registrosPorPagina" [totalRecords]="totalRecords" *ngIf="this.filtroEspacioFisicoDTO.listaIdUbicacion!==null && this.filtroEspacioFisicoDTO.listaIdUbicacion.length !== 0"></p-paginator>   
    </div>   
</div>

<app-horario-espacio-fisico #horarioEspacioFisico></app-horario-espacio-fisico>

<div class="grid">
    <div class="col-12">
        <!-- botón inactivar fila -->
        <p-dialog [(visible)]="inactivarEspacioFisicoDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro que desea inactivar el espacio físico <b>{{obtenerNombreCompletoEspacioFisico()}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="inactivarEspacioFisicoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmarInactivacion()"></button>
            </ng-template>
        </p-dialog>
    </div>    
</div>