<div class="grid">
    <div class="col-12">
        <h3>Gestionar espacios físicos</h3>
        <p>Esta pantalla permite la creación, visualización, edición y eliminación manual de espacios físicos, así como la visualización de sus horarios.</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="lg:col-12 md:col-12 sm:col-12">
        <div class="mt-1 flex justify-content-start flex-wrap">
            <label class="w-5rem align-self-center" style="text-align: right;">Ubicación</label>
			<p-multiSelect 
                maxSelectedLabels="4" 
                selectedItemsLabel="{0} Ubicaciones seleccionadas" 
                [defaultLabel]="'Seleccione ubicación'"
                [options]="lstUbicacion" 
                [(ngModel)]="filtroEspacioFisicoDTO.listaUbicacion"  
                [style]="{ 'height': '2.0rem', 'margin-left': '10%',  'line-height': '1.2px', 'width': '70%' }" 
                [ngClass]="{'w-30rem':true }"
                [filter]="false"
                [showClear]="true"
                (ngModelChange)="onUbicacionesChange()" >
			</p-multiSelect>
        </div>
        <div class="mt-1 flex justify-content-start flex-wrap">
            <label class="w-5rem align-self-center" style="text-align: right;">Edificio</label>
			<p-multiSelect 
                maxSelectedLabels="4" 
                selectedItemsLabel="{0} Edificios seleccionados" 
                [defaultLabel]="listaEdificios.length === 0 ? '':'Seleccione edificios'"
                [options]="listaEdificios" 
                [(ngModel)]="filtroEspacioFisicoDTO.listaEdificio"  
                [style]="{ 'height': '2.0rem', 'margin-left': '10%',  'line-height': '1.2px', 'width': '70%' }" 
                [ngClass]="{'w-30rem':true }"
                [filter]="false"
                [showClear]="true"
                [disabled]="listaEdificios.length === 0"
                (ngModelChange)="onEdificiosChange()" >
			</p-multiSelect>
        </div>
        <div class="mt-1 flex justify-content-start flex-wrap">
            <label class="w-5rem align-self-center" style="text-align: right;">Tipo</label>
			<p-multiSelect 
                maxSelectedLabels="2" 
                selectedItemsLabel="{0} Tipos espacios físicos seleccionados" 
                optionLabel="tipo" 
                [defaultLabel]="listaTipoEspacioFisico.length === 0 ? '':'Seleccione tipo espacio físico'"
                [options]="listaTipoEspacioFisico" 
                [(ngModel)]="tipoEspacioFisicoSeleccionados"  
                [style]="{ 'height': '2.0rem', 'margin-left': '10%',  'line-height': '1.2px', 'width': '70%' }" 
                [ngClass]="{'w-30rem':true }"
                [filter]="false"
                [showClear]="true"
                [disabled]="listaTipoEspacioFisico.length === 0"
                (ngModelChange)="onTipoEspacioFisicoChange()" >
                <ng-template let-tipoEspaciofisico pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div><strong>{{ tipoEspaciofisico.tipo }}</strong></div>
                    </div>
                </ng-template>
			</p-multiSelect>
        </div>
        <div class="mt-1 flex justify-content-start flex-wrap">
            <label class="w-5rem align-self-center" style="text-align: right;">Estado</label>
            <p-dropdown 
                [style]="{ 'height': '2.0rem', 'margin-left': '10%',  'line-height': '1.2px', 'width': '70%' }"
                [placeholder]="filtroEspacioFisicoDTO?.listaUbicacion.length === 0 ? ' ':'Seleccione estado espacio físico'" 
                [ngClass]="{'w-30rem':true}" 
                [options]="listaEstados" 
                [(ngModel)]="filtroEspacioFisicoDTO.estado"
                [showClear]="true"
                [disabled]="filtroEspacioFisicoDTO?.listaUbicacion.length === 0"
                (ngModelChange)="onEstadoChange()">
            </p-dropdown>
        </div>
  </div>
</div>

<div class="grid">
    <div class="col-12"> 
        <div class="grid" *ngIf="totalRecords!==undefined">
            <div class="col-6" *ngIf="totalRecords!==undefined" style="padding: 2rem;">          
                <label class="large-label">Espacios físicos consultados: {{totalRecords}}</label>
            </div>
            <div [class]="totalRecords!==undefined ? 'col-6': 'col-12'">
                <p-toolbar styleClass="mb-1" [style]="{'background': 'none', 'border': 'none', 'margin': '0', 'padding':'0'}">
                    <ng-template pTemplate="left">
                    </ng-template>
                    <ng-template pTemplate="right">
                        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                        <button pButton pRipple label="Subir archivo" icon="pi pi-upload" class="p-button-help" (click)="cargarArchivo()"></button>
                        <span style="margin-right: 10px;"></span>
                        <div class="my-0">
                            <button pButton pRipple label="Crear espacio físico" icon="pi pi-plus" class="p-button-success mr-2" (click)="abrirModalCrearEditarVerEspacioFisico(null, 'Crear curso')"></button>
                        </div>
                    </ng-template>
                </p-toolbar>  
            </div>
        </div>       
        <p-table #dt [value]="listaEspacioFisicoDTO" responsiveLayout="scroll" [rows]="10"
            selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>Ubicación</th>
                    <th>Edificio</th>
                    <th>Espacio físico</th>
                    <th>Número espacio físico</th>
                    <th>Capacidad</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                    <th>Ver horario</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-espacioFisicoDTO>
                <tr>
                    <td>{{espacioFisicoDTO.ubicacion}}</td>
                    <td>{{espacioFisicoDTO.edificio}}</td>
                    <td>{{espacioFisicoDTO.tipoEspacioFisico}}</td>
                    <td>{{espacioFisicoDTO.numeroEspacioFisico}}</td>
                    <td>{{espacioFisicoDTO.capacidad}}</td>
                    <td>{{espacioFisicoDTO.estado | titlecase}}</td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-info"></button>
                            <span style="margin-right: 10px;"></span>
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary"></button>
                            <span style="margin-right: 10px;"></span>
                            <button pButton pRipple type="button" icon="pi pi-ban" class="p-button-rounded p-button-danger" (click)="inactivarEspacioFisico(espacioFisicoDTO)"></button>
                        </div>
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple type="button" icon="pi pi-calendar" class="p-button-rounded p-button-info p-button-outlined" (click)="abrirModalHorarioAula(espacioFisicoDTO)"></button>  
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="pagina" [rows]="registrosPorPagina" [totalRecords]="totalRecords" *ngIf="this.filtroEspacioFisicoDTO.listaUbicacion!==null && this.filtroEspacioFisicoDTO.listaUbicacion.length !== 0"></p-paginator>   
    </div>   
</div>

<app-horario-espacio-fisico #horarioEspacioFisico></app-horario-espacio-fisico>

<div class="grid">
    <div class="col-12">
        <!-- botón inactivar fila -->
        <p-dialog [(visible)]="inactivarEspacioFisicoDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Está seguro que desea inactivar el espacio físico <b>{{obtenerNombreCompletoEspacioFisico()}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="inactivarEspacioFisicoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmarInactivacion()"></button>
            </ng-template>
        </p-dialog>
    </div>    
</div>