<div class="contenedor-reserva">
  <button
  pButton
  label="Cerrar Sesión"
  class="logout-button"
  (click)="cerrarSesion()"
  >
  </button>
    <h1>RESERVAS DE ESPACIOS FÍSICOS TEMPORALES</h1>
    <h2>UNIVERSIDAD DEL CAUCA</h2>
    <p class="nota">"Las reservas son válidas únicamente para miembros de la universidad"</p>
    
    <div class="mensaje-confirmacion">
      <p><strong>¡Gracias! Registramos tu reserva.</strong></p>
      <p>Se analizará si la reserva es procedente y se enviará a su correo electrónico el resultado de la aprobación o rechazo.</p>
    </div>
  </div>
  