<div class="grid">
	<div class="col-12">
		<h3>Generar horario base a partir del semestre anterior</h3>
        <p>Esta pantalla permite generar un horario base para un programa a partir de su horario del semestre anterior.</p>
        <hr>
	</div>
</div>
<!--Mensaje-->
<div *ngIf="messages !== null">
    <p-messages [(value)]="messages" [enableService]="true" [closable]="false" />
</div>



<div class="grid" *ngIf="messages === null">
    <div class="col-12">
        <br>
        <br>
        <!--Formulario principal-->
        <div> 
            <p-fieldset legend="Generación semestre anterior">     
                <br>       
                <form class="grid" [formGroup]="formulario">
                    <div class="p-fluid col sm:col-12 md:col-3">
                        <label>Periodo académico vigente</label>
                        <p-dropdown [placeholder]="' '" [ngClass]="{ 'ng-invalid ng-dirty': this.periodo().invalid && this.periodo().touched }" [options]="lstPeriodoAcademicosTodos"
                            formControlName="periodo" [showClear]="true" optionValue="idPeriodoAcademico" optionLabel="anioPeriodo" appendTo="body">
                            <ng-template let-periodo pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div><strong>{{ periodo.anio }}</strong>-{{ periodo.periodo }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small class="p-error block fade-in" *ngIf="this.periodo().invalid && this.periodo().touched">Periodo es obligatorio</small>
                    </div>
                    <div class="p-fluid col sm:col-12 md:col-3">
                        <label class="required">Periodo académico anterior</label>
                        <p-dropdown [placeholder]="'Seleccione periodo'" [ngClass]="{'ng-invalid ng-dirty':this.periodoAnterior().invalid && this.periodoAnterior().touched }" [options]="lstPeriodoAcademicosSinVigente"
                            formControlName="periodoAnterior" [showClear]="true" optionValue="idPeriodoAcademico" optionLabel="anioPeriodo" appendTo="body">
                            <ng-template let-periodo pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div><strong>{{ periodo.anio }}</strong>-{{ periodo.periodo }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small class="p-error block fade-in" *ngIf="this.periodoAnterior().invalid && this.periodoAnterior().touched">Periodo académico anterior es obligatorio</small>
                    </div>
                    <div class="p-fluid col sm:col-12 md:col-6">
                    </div>
                    <div class="p-fluid col sm:col-12 md:col-3">
                        <label class="required">Programa</label>
                        <p-dropdown [placeholder]="'Seleccione programa'" [options]="listaProgramas" optionValue="idPrograma"
                            optionLabel="abreviatura" formControlName="idPrograma" [showClear]="true" appendTo="body"
                            [ngClass]="{'ng-invalid ng-dirty': this.idPrograma().invalid && this.idPrograma().touched }"
                            (ngModelChange)="onProgramasChange()">
                            <ng-template let-programa pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div><strong>{{ programa.abreviatura }}</strong>-{{ programa.nombre }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small class="p-error block fade-in" *ngIf="this.idPrograma().invalid && (this.idPrograma().touched)">Programa es obligatorio</small>
                    </div>
                    <div class="p-fluid col sm:col-12 md:col-3">
                        <label>Cursos a excluir (Opcional)</label>
                        <p-multiSelect 
                            maxSelectedLabels="1" 
                            selectedItemsLabel="{0} Asignaturas seleccionadas" 
                            optionLabel="nombre" 
                            [defaultLabel]="listaAsignaturas.length === 0 ? '':'Seleccione Asignaturas'"
                            [options]="listaAsignaturas" 
                            formControlName="lstIdAsignatura"  
                            [filter]="true"
                            [showClear]="true"
                            [disabled]="listaAsignaturas.length === 0"
                            optionLabel="nombre" 
                            optionValue="idAsignatura">
                            <ng-template let-asignatura pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ asignatura.nombre }}-<strong>Sem {{asignatura.semestre}}</strong></div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </form>
                <div class="flex justify-content-start" style="width: 100%;">
                    <div class="m-1">
                        <button pButton pRipple icon="pi pi-clone" class="p-button" label="Generar horario"
                            [disabled]="isLoading" (click)="generarHorario()" [disabled]="formulario.invalid">
                            <ng-container *ngIf="isLoading">
                                <i class="pi pi-spin pi-spinner"></i>
                            </ng-container>
                        </button>
                    </div>
                </div>
            </p-fieldset>
        </div>        
    </div>
</div>

 <!-- p-toast para mensajes -->
 <p-toast></p-toast>

 <!-- Modal de confirmación -->
<p-confirmDialog></p-confirmDialog>
<br>
<br>
<p-card *ngIf="!ocultarResultadoGeneracion"> 
    <h4>Resultado generación:</h4>    
    <pre>Cursos con horario completo: {{cantidadCursosHorarioCompleto}}</pre>
    <pre>Cantidad de cursos horario parcial: {{cantidadCursosHorarioParcial}}</pre>
    <pre>Cantidad de cursos sin horario: {{cantidadCursosSinHorario}}</pre>
    <pre><strong>Errores de franjas no ingresadas:</strong></pre>   
    <p-table 
        [value]="this.lstMensajesDelProceso" 
        styleClass="p-datatable-gridlines"
        [paginator]="false" 
        [rows]="150"
        [scrollable]="false" 
        selectionMode="single" 
        >
        <ng-template pTemplate="header">
            <tr>
                <th>Curso</th>
                <th>Franja</th>
                <th>Causa</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mensaje>
            <tr>
                <td><strong>{{ mensaje[0] }}</strong></td>
                <td><strong>{{ mensaje[1] }}</strong></td>
                <td><strong>{{ mensaje[2] }}</strong></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="15">
                    No hay registros
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>