<div class="grid">
    <div class="col-12">
      <h3>Generar reporte de espacios físicos</h3>
      <p>Esta pantalla permite visualizar y generar el reporte de espacios físicos.</p>
      <hr />
      <form class="grid" [formGroup]="formulario">
        <div class="p-fluid col sm:col-12 md:col-3">
          <label>Ubicación</label>
          <p-dropdown
            [options]="ubicaciones"
            formControlName="ubicacion"
            placeholder="Seleccione una ubicación"
          ></p-dropdown>
        </div>
        <div class="p-fluid col sm:col-12 md:col-3">
          <label>Estado</label>
          <p-dropdown
            [options]="estados"
            formControlName="estado"
            placeholder="Seleccione un estado"
          ></p-dropdown>
        </div>
        <div class="p-fluid col sm:col-12 md:col-3">
          <label>Tipo</label>
          <p-dropdown
            [options]="tipos"
            formControlName="tipo"
            placeholder="Seleccione un tipo"
          ></p-dropdown>
        </div>
        <div class="p-fluid col sm:col-12 md:col-3">
          <label>Nombre</label>
          <input
            type="text"
            class="p-inputtext"
            formControlName="nombre"
            placeholder="Nombre del espacio físico"
          />
        </div>
      </form>
  
      <div class="flex justify-content-start" style="width: 100%;">
        <div class="m-1">
          <button
            pButton
            pRipple
            icon="pi pi-search"
            class="p-button mr-2"
            label="Visualizar reporte"
            [disabled]="isLoading"
            (click)="visualizar()"
          >
            <ng-container *ngIf="isLoading">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </button>
          <button
            pButton
            pRipple
            icon="pi pi-download"
            class="p-button"
            label="Descargar reporte"
            [disabled]="isLoading"
            (click)="descargar()"
          >
            <ng-container *ngIf="isLoading">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </button>
        </div>
      </div>
    </div>
  </div>
  <p-messages [(value)]="messages"></p-messages>
