<div class="grid">
    <div class="col-12">
        <h3>Generar reporte SIMCA</h3>
        <p>Esta pantalla permite visualizar y generar el reporte para SIMCA.</p>
        <hr>
        <br>
        <br>
        <form class="grid" [formGroup]="formulario">
            <div class="p-fluid col sm:col-12 md:col-3">
                <label class="required">Periodo académico</label>
                <p-dropdown [placeholder]="'Seleccione periodo'" [ngClass]="{
                                'ng-invalid ng-dirty':
                                    this.periodo().invalid &&
                                    this.periodo().touched
                            }" [options]="periodosAcademicos"
                    formControlName="periodo" [showClear]="true" optionValue="idPeriodoAcademico" optionLabel="anioPeriodo" appendTo="body">
                    <ng-template let-periodo pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div><strong>{{ periodo.anio }}</strong>-{{ periodo.periodo }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error block fade-in" *ngIf="this.periodo().invalid &&
                                    this.periodo().touched">
                    Periodo es obligatorio
                </small>
            </div>
            <div class="p-fluid col sm:col-12 md:col-3">
                <label>Programa</label>
                <p-dropdown [placeholder]="'Seleccione programa'" [options]="listaProgramas" optionValue="idPrograma"
                    optionLabel="abreviatura" formControlName="idPrograma" [showClear]="true" appendTo="body"
                    [ngClass]="{
                            'ng-invalid ng-dirty':
                                this.idPrograma().invalid &&
                                this.idPrograma().touched
                        }">
                    <ng-template let-programa pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div><strong>{{ programa.abreviatura }}</strong>-{{ programa.nombre }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error block fade-in" *ngIf="this.idPrograma().invalid &&
                                    (this.idPrograma().touched)">
                    Programa es obligatorio
                </small>
            </div>
        </form>


        <div class="flex justify-content-start" style="width: 100%;">
            <div class="m-1">
                <button pButton pRipple icon="pi pi-search" class="p-button mr-2" label="Visualizar reporte"
                    [disabled]="isLoading" (click)="visualizar()" [disabled]="formulario.invalid">
                    <ng-container *ngIf="isLoading">
                        <i class="pi pi-spin pi-spinner"></i>
                    </ng-container>
                </button>
                <button pButton pRipple icon="pi pi-download" class="p-button" label="Descargar reporte"
                    [disabled]="isLoading" (click)="descargar()" [disabled]="formulario.invalid">
                    <ng-container *ngIf="isLoading">
                        <i class="pi pi-spin pi-spinner"></i>
                    </ng-container>
                </button>
            </div>
        </div>
    </div>
</div>