/* login-student.component.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f6f9; /* Fondo claro */
  font-family: 'Arial', sans-serif;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4a90e2;
  margin-bottom: 5px;
}

.login-header p {
  font-size: 1.1rem;
  color: #6c757d;
}

.login-content {
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  color: #757575;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.google-login-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google-login-btn:hover {
  background-color: #f8f9fa;
  border-color: #c6c6c6;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
