
<p-messages [(value)]="messages" [enableService]="true" [closable]="true"></p-messages>

<div class="formulario-container">
    <button
      pButton
      label="Cerrar Sesión"
      class="logout-button"
      (click)="cerrarSesion()"
      >
    </button>
    <h2>FORMULARIO DE RESERVA ESPACIOS FÍSICOS TEMPORALES</h2>
    <h4>Préstamo de Aulas y Auditorios Universitarios</h4>
  
    <!-- Datos del solicitante -->
    <fieldset class="datos-solicitante">
      <legend>Datos solicitante</legend>
      <div class="grid">
        <div class="col">
          <label><b>Nombre completo: </b></label>
          <span>{{ usuario?.primerNombre }} {{ usuario?.segundoNombre }} {{ usuario?.primerApellido }} {{ usuario?.segundoApellido }}</span>
        </div>
        <div class="col">
          <label><b>Identificación: </b></label>
          <span>{{ usuario?.tipoIdentificacion }} {{ usuario?.identificacion }}</span>
        </div>
        <div class="col">
            <label><b>Correo electrónico: </b></label>
            <span>{{ usuario?.correo }}</span>
        </div>
        <div class="col">
          <label><b>Tipo de solicitante: </b></label>
          <span>{{ usuario?.programa[0]?.rol }}</span>
        </div>
          
        <div class="col">
          <label><b>Fecha solicitud: </b></label>
          <span>{{ fechaSolicitud | date }}</span>
        </div>
      </div>
    </fieldset>
  
    <div class="alert alert-info" role="alert" style="margin-top: 20px; font-size: 14px; color: #6c757d;">
      <strong>Nota importante:</strong> Solo puedes seleccionar un espacio físico y definir su franja de horario de inicio y fin. Asegúrate de ingresar correctamente los detalles antes de enviar tu solicitud.
    </div>
  

    <!-- Características del aula -->
    <fieldset class="caracteristicas-aula">
      <legend>Filtrar por Características de Aula </legend>
      <!-- Primera fila: Ubicación, Fecha de uso, Nombre espacio físico -->
      <div class="grid">
        <div class="col-6">
          <label>Ubicación:</label>
          <p-dropdown
            [options]="lstUbicacionOutDTO"
            optionLabel="nombre"
            optionValue="idUbicacion"
            placeholder="Seleccione una ubicación"
            [(ngModel)]="filtroEspacioFisicoDTO.listaIdUbicacion"
            (onChange)="onUbicacionesChange()"
            [showClear]="true">
          </p-dropdown>
          <div *ngIf="!filtroEspacioFisicoDTO.listaIdUbicacion && mostrarErrores">
            <small class="p-error">La ubicación es obligatoria.</small>
          </div>
        </div>
        <div class="col-6">
          <label>Fecha uso:</label>
          <p-calendar 
            [(ngModel)]="fechaUso" 
            placeholder="dd/mm/aaaa" 
            (onSelect)="onFechaUsoChange()">
          </p-calendar>
          <div *ngIf="!validarFechaUso() && mostrarErrores">
            <small class="p-error">La fecha de reserva debe ser mayor o igual a la fecha actual.</small>
          </div>
        </div>
        <div class="col-6">
          <label for="salon">Nombre espacio físico:</label>
          <input
            type="text"
            pInputText
            [(ngModel)]="filtro.salon"
            placeholder="Ingrese el nombre del espacio físico"
            (ngModelChange)="onInputsChange()"
          />
          <div *ngIf="!filtro.salon?.trim() && mostrarErrores">
            <small class="p-error">El nombre del espacio físico es obligatorio.</small>
          </div>
        </div>
      </div>
      
      <div class="grid" *ngIf="!validarFechaUso() && fechaUso">
        <div class="col-12">
          <small class="p-error">La fecha de reserva debe ser mayor o igual a la fecha actual.</small>
        </div>
      </div>

      <!-- Segunda fila: Hora Inicio y Hora Fin -->
      <div class="grid mt-2">
        <div class="col-6">
          <label for="horaInicio">Hora Inicio:</label>
          <input
            type="time"
            class="form-control"
            [(ngModel)]="filtro.horaInicio"
          />
          <div *ngIf="!filtro.horaInicio && mostrarErrores">
            <small class="p-error">La hora de inicio es obligatoria.</small>
          </div>
        </div>
        <div class="col-6">
          <label for="horaFin">Hora Fin:</label>
          <input
            type="time"
            class="form-control"
            [(ngModel)]="filtro.horaFin"
            (ngModelChange)="onInputsChange()"
          />
          <div *ngIf="!filtro.horaFin && mostrarErrores">
            <small class="p-error">La hora de fin es obligatoria.</small>
          </div>
        </div>
        <div class="col-6">
          <label>Recursos con los que cuenta el espacio físico:</label>
          <div *ngFor="let recurso of listaRecursos; trackBy: trackByRecurso">
            <input 
              type="checkbox"
              [checked]="filtro.listaRecursos.includes(recurso.idRecursoFisico)"
              (change)="onRecursoChange($event, recurso.idRecursoFisico)"
            />
            <label>{{ recurso.nombre }}</label>
          </div>               
        </div>        
        
      </div>
      
      <div class="grid" *ngIf="!validarHorarios() && filtro.horaInicio && filtro.horaFin">
        <div class="col-12">
          <small class="p-error">La hora fin debe ser mayor a la hora inicio.</small>
        </div>
      </div>
    </fieldset>

    
  
    <!-- Espacios físicos -->
    <fieldset class="espacios-fisicos">
      <legend>Espacios Físicos Disponibles</legend>
      <div class="grid">
        <!-- Espacios disponibles -->
        <div class="col-5">
          <label>Espacios disponibles:</label>
          <div class="box">
            <ul class="space-list">
              <li *ngFor="let espacio of espaciosDisponibles" 
                  (click)="seleccionarEspacio(espacio)" 
                  [class.selected]="espacio === espacioSeleccionado">
                {{ espacio.label }}
              </li>
            </ul>
          </div>
        </div>

        <!-- Botones Reservar/Quitar -->
        <div class="col-2 flex justify-content-center align-items-center">
          <div class="button-group">
            <!-- Botón Reservar -->
            <button 
              pButton 
              label="Reservar" 
              icon="pi pi-angle-right" 
              class="p-button-primary" 
              (click)="reservarEspacio()" 
              [disabled]="!puedeReservar() || !puedeReservarMultiples()">
            </button>

            <!-- Botón Quitar -->
            <button 
              pButton 
              label="Quitar" 
              icon="pi pi-angle-left" 
              class="p-button-primary" 
              (click)="quitarEspacio()" 
              [disabled]="espaciosReservados.length === 0 ">
            </button>
          </div>
        </div>

        <!-- Espacios reservados -->
        <div class="col-5">
          <label>Espacio reservado:</label>
          <div class="box">
            <ul class="space-list">
              <li *ngFor="let espacio of espaciosReservados" 
                  (click)="seleccionarEspacioReservado(espacio)" 
                  [class.selected]="espacio === espacioSeleccionado">
                {{ espacio.label }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </fieldset>

  
    <!-- Justificación de uso -->
    <fieldset class="justificacion">
      <legend>Justificación de uso</legend>
      <textarea [(ngModel)]="justificacion" rows="3" placeholder="Describa la justificación de uso"></textarea>
    </fieldset>
  
    <!-- Botón de reservar -->
    <div class="form-buttons">
      <button pButton label="Reservar" icon="pi pi-check" (click)="reservar()"></button>
    </div>
  </div>

  <p-confirmDialog></p-confirmDialog>
