<div>
    <div class="grid mt-2">
        <div class="col-12 flex flex-row">
            <label class="col-12 md:col-1" style="padding: 0px !important;">Facultad</label>
            <p style="font-weight: bold;" >{{this.grupoSeleccionado?.nombreFacultad}}</p>
        </div>
        <div class="col-12 flex flex-row">
            <label class="col-12 md:col-1" style="padding: 0px !important;">Grupo</label>
            <p style="font-weight: bold;">{{this.grupoSeleccionado?.nombre}}</p>
        </div>
    </div>
    <h5 style="font-weight: bold;" >Carácteristicas espacio fisico</h5>

    <div class="grid mt-2">
        <!--Primera columna-->
        <div class="col-6">
            <div class="mt-1 flex justify-content-start flex-wrap">
                <label class="w-5rem align-self-center" style="text-align: right;">Ubicación</label>
                <p-dropdown 
                    [placeholder]="' '"
                    [options]="lstUbicacion" 
                    [(ngModel)]="filtro.ubicacion" 
                    appendTo="body"
                    [showClear]="true"
                    (ngModelChange)="onChangeUbicacion()">
                </p-dropdown>
            </div>
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="w-5rem align-self-center" style="text-align: right;">Tipo</label>
                <p-dropdown 
                    [placeholder]="' '"
                    [options]="listaTipoEspacioFisico"
                    [(ngModel)]="filtro.tipo"
                    optionValue = "tipo"
                    optionLabel = "tipo"
                    appendTo="body"
                    [showClear]="true"
                    [disabled] = "!this.filtro.ubicacion"
                    (ngModelChange)="filtrarEspacios()">
                </p-dropdown>        
            </div>
            <div class="p-fluid col sm:col-12 md:col-6">
                <label class="required">Nombre</label>
                <input type="text" pInputText [(ngModel)]="filtro.nombre" placeholder=" "  (ngModelChange)="filtrarEspacios()">
            </div>
        </div> <!--Cierre primera columna-->
        <div class="col-6">
            
        </div>
    </div>

    <div class="mt-4">
        <p-pickList 
        [source]="espaciosFisicosDisponibles" 
        [target]="espasciosFisicosAsignados" 
        sourceHeader="Espacios fisicos disponibles" 
        targetHeader="Espacios fisicos asignados" 
        [dragdrop]="false" 
        [responsive]="true" 
        [sourceStyle]="{'height':'250px'}"
        [targetStyle]="{'height':'250px'}" 
        [showSourceControls]="false" 
        [showTargetControls]="false"
        (onMoveToTarget)="handleMoveToTarget($event)"
        (onMoveToSource)="handleMoveToSource($event)"
        >
            <ng-template let-espacio pTemplate="item">
                <div class="flex flex-wrap p-2 align-items-center gap-3">
                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-bold">{{ espacio.salon }}</span>
                    </div>
                </div>
            </ng-template>
    </p-pickList>
    </div>
    <div class="flex justify-content-end mt-2" style="width: 100%;">
        <div class="m-1">
            <button pButton pRipple label="Salir" icon="pi pi-times" class="p-button-text"
            (click)="salir()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-plus" class="p-button-text ml-2"
                (click)="guardar()"></button>
        </div>
    </div>
</div>