<pre>Cantidad de cursos actualizados: {{cantidadCursosActualizados}}</pre>
<pre>Cantidad de cursos no actualizados: {{cantidadCursosNoCorrelacionados}}</pre>
<pre>Restricciones presentadas:</pre>

<p-table 
    [value]="this.listaErrores" 
    responsiveLayout="scroll" 
    styleClass="p-datatable-gridlines"
    [paginator]="true" 
    [rows]="150"
    [tableStyle]="{ 'min-height': '600px' }"
    [scrollable]="true" 
    scrollHeight="70vh"
    selectionMode="single" 
    >
    <ng-template pTemplate="header">
        <tr>
            <th>Curso</th>
            <th>Franja</th>
            <th>Causa</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mensaje>
        <tr>
            <td>{{ mensaje[0] }}</td>
            <td>{{ mensaje[1] }}</td>
            <td>{{ mensaje[2] }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="15">
                No hay registros
            </td>
        </tr>
    </ng-template>
</p-table>