<p-toast></p-toast>
<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>
<ng-template #loggedOut>
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%); width: 500px;">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-medium mb-3">SGPH</div>
                        <span class="text-600 font-medium">Iniciar sesión para continuar</span>
                    </div>                
                    <form [formGroup]="formulario">
                        <div class="p-fluid col sm:col-12">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Usuario</label>
                            <input id="email1" 
                                type="text" 
                                placeholder="Nombre de usuario" 
                                pInputText class="w-full mb-2" 
                                style="padding:1rem"
                                formControlName="nombreUsuario"
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        this.nombreUsuario().invalid &&
                                        this.nombreUsuario().touched
                                }"
                                >
                            <small class="p-error block fade-in" *ngIf="this.nombreUsuario().invalid &&
                                        (this.nombreUsuario().touched)">
                                 Usuario es obligatorio
                            </small>
                        </div>
    
                        <div class="p-fluid col sm:col-12">
                            <label for="password1" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
                            <p-password 
                                id="password1" 
                                placeholder="Contraseña"
                                [toggleMask]="true" 
                                styleClass="w-full mb-2" 
                                inputStyleClass="w-full"
                                formControlName="password"
                                [feedback]="false" 
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        this.password().invalid &&
                                        this.password().touched
                                }"
                            ></p-password>
                            <small class="p-error block fade-in" *ngIf="this.password().invalid &&
                                    (this.password().touched)">
                                Contraseña es obligatorio
                            </small>
                        </div>
                        <button pButton pRipple label="Continuar" class="w-full p-3 text-xl" (click) = "iniciarSesionNormal()"></button>
                    </form>
                    <hr>
                    <div class="row">
                        <button pButton pRipple label="Continuar con Google" class="w-full p-3 text-xl" (click)="iniciarSesionGoogle()" style="background-color: white; color: black;">
                            <img src="https://img.icons8.com/color/22/000000/google-logo.png" alt="Google Logo" class="btn-icon">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
