/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";  


@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .label {
      font-weight: bold;
      font-size: 15px;
  }
  .col-12 {
      padding: 0.5rem !important;
  }
  .p-field {
      margin-bottom: 1rem;
  }
    
    .required::after {
      content: '*';
      color: red;
  }
  .p-dropdown {
    line-height: 1.2px;
  }
  .p-multiselect {
    font-size: 12px !important;
    line-height: 1.2px !important; 
  }
  .p-inputnumber {
    font-size: 12px !important;
    line-height: 1.2px !important; 
    height: 25px !important;
  }
  .p-inputtext {
    font-size: 12px !important;
    line-height: 1.2px !important; 
    height: 25px !important;
  }
  .p-button {
    font-size: 12px !important;
    height: 32px !important;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 5px;
    font-size: 12px;
  }
  .p-button.p-button-icon-only {
    width: 32px;
  }
  .pi {
    font-size: 13px !important;
  }
  .p-picklist .p-picklist-header {
    font-size: 14px !important;
    padding: 0.5rem;
    text-align: center;
  }
  .p-picklist .p-picklist-list .p-picklist-item {
    font-size: 12px !important;
    padding: 0.2rem;
    text-align: start;
  }
  .p-datatable .p-datatable-thead > tr > th {
    padding: 7px;
  }
  