<div class="grid">
    <div class="col-12">
        <h3>Cargar labor docencia</h3>
        <p>Esta pantalla permite realizar el cargue de la labor docencia de un programa.</p>
        <hr>
        <br>
        <br>
        <div class="flex flex-row justify-content-center" *ngIf="!cargar && !eliminar">
            <div class="ml-2">
                <div class="borde" (click) = "this.cargarLabor()">
                    <div class="header">
                        <h5>Cargar labor docente</h5>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                        <p>Suspendisse potenti. Duis ultricies imperdiet libero. Phasellus tincidunt justo nec libero egestas, eu auctor urna ultricies.</p>
                        <p>Fusce nec ligula est. Vivamus euismod libero non felis ultrices, sit amet tempus ligula volutpat. Sed imperdiet vehicula eros.</p>
                    </div>
                    
                </div>
            </div>
            <div class="ml-2">
                <div class="borde">
                    <div class="header">
                        <h5>Eliminar labor docente</h5>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                        <p>Suspendisse potenti. Duis ultricies imperdiet libero. Phasellus tincidunt justo nec libero egestas, eu auctor urna ultricies.</p>
                        <p>Fusce nec ligula est. Vivamus euismod libero non felis ultrices, sit amet tempus ligula volutpat. Sed imperdiet vehicula eros.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- CARGAR LABOR DOCENTE -->
         <div class="flex flex-row justify-content-center">
            <div class="flex flex-column" *ngIf="cargar" style="width: 500px;">
                <div class="p-fluid col-12">
                    <label class="required">Programa</label>
                    <p-dropdown [placeholder]="' '" [options]="listaProgramas"
                        optionLabel="nombre" [(ngModel)]="programa" [showClear]="true" appendTo="body">
                        <ng-template let-programa pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div><strong>{{ programa.abreviatura }}</strong>-{{ programa.nombre }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="flex justify-content-center" style="width: 100%;">
                    <div class="m-1">
                        <button pButton pRipple label="Visualizar" icon="pi pi-eye" class="p-button mr-2"
                        (click)="visualizar()"></button>
                        <button pButton pRipple label="Almacenar" icon="pi pi-save" class="p-button mr-2"
                            (click)="guardar()"></button>
                    </div>
                </div>
            </div>
         </div>

        <!-- ELIMINAR LABOR DOCENTE -->
    </div>
</div>
<pre>{{mensajesError}}</pre>
<p-toast></p-toast>