<p-fieldset legend="Agrupador espacio fisico" class="m-2 fade-in w-100">
    <div class="p-fluid flex flex-column" *ngIf="!lectura">
        <div class="field col-12">
            <label>Facultad</label>
            <p-multiSelect 
                maxSelectedLabels="1" 
                selectedItemsLabel="{0} Facultades seleccionadas" 
                optionLabel="abreviatura" 
                [defaultLabel]="'Seleccione facultad'"
                [options]="lstFacultadOutDTO" 
                [(ngModel)]="idFacultadesSeleccionadas"  
                [filter]="false"
                [showClear]="true"
                optionLabel="abreviatura" 
                optionValue="idFacultad"
                appendTo = "body"
                (ngModelChange)="this.onChangeFacultad()"
                [disabled] = "this.facultadSeleccionada != null"
                >
                <ng-template let-facultad pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div><strong>{{ facultad.abreviatura }}</strong>-{{ facultad.nombre }}</div>
                    </div>
                </ng-template>
            </p-multiSelect>
        </div>
        <div class="field col-12 ">
            <label>Grupo</label>
            <p-multiSelect 
                maxSelectedLabels="4" 
                optionLabel="abreviatura" 
                [defaultLabel]="'Seleccione grupo'"
                [options]="listaAgrupadores" 
                [(ngModel)]="agrupadoresSeleccionados"  
                [filter]="false"
                [showClear]="true"
                optionLabel="nombre"
                optionValue="idAgrupadorEspacioFisico"
                appendTo = "body"
                (ngModelChange)="this.onChangeAgrupador()"
                >
            </p-multiSelect>
        </div>
    </div>
    <div *ngIf="lectura">
        <div *ngFor="let facultad of agrupadoresLectura">

            <p style="font-weight: bold;">{{facultad.nombreFacultad}}</p>

            <div *ngFor="let agrupador of facultad.agrupadorDTOs">
                <p>{{agrupador.nombre}}</p>
            </div>
        </div>
    </div>
</p-fieldset>