/* Estilo normal del botón */
::ng-deep button.p-button {
    background-color: #cfe6f4 !important;
    border: 2px solid #c3ddec !important;
    color: #2a6895 !important;;
}

/* Estilo del botón al pasar el ratón por encima */
::ng-deep button.p-button:hover {
    background-color: #c3ddec !important;
    border: 2px solid #83b8e2 !important;
    color: #2a6895 !important;
}

/* Estilo del botón cuando está activo o seleccionado */
::ng-deep button.p-button:active,
::ng-deep button.p-button.p-highlight {
    background-color: #82b4da!important;
    border: 2px solid #82b4da!important;
    color: #2a6895 !important;
}
  